[2019-06-11 07:29] #234 closed

[2019-06-11 07:29] bluepnume commented on #240
Strange. I just tested with Canary 77 and saw no problems. How are you testing?

[2019-06-11 07:35] bluepnume commented on #238
You can pass a default value when you create the component:

[code]

[2019-06-11 08:52] StanculescuDaniel commented on #240
The child page must be on a different domain than the parent page.
I've created a small app based on example provided on zoid npm page:

[zoid.zip](https://github.com/krakenjs/zoid/files/3275525/zoid.zip)

Use a http server to fetch the static files in the archive, then replace the `url` in `script-where-my-login-component-is-defined.js` with the one your http server have.
To simulate a different

[2019-06-11 16:20] bluepnume commented on #240
Ahh I see. Are you loading the parent page from a webserver, or from a local file?

I get the same issue with a local file. I'd recommend testing this using a webserver. I'll dig into the issue, but using local files typically causes all kinds of issues with cross-domain comms.

[2019-06-12 04:31] sainiankit commented on #234
I'm facing the same problem on `9.0.27`. Is this fix not released yet ?
<img width="426" alt="Screenshot 2019-06-12 at 10 00 34 AM" src="https://user-images.githubusercontent.com/4703046/59323609-ffa08a00-8cf8-11e9-894b-4bcbbaad437a.png">

[2019-06-12 04:40] bluepnume commented on #234
Did you start using `dist/zoid.frameworks.js`?

[2019-06-12 04:42] sainiankit commented on #234
`import zoid from 'zoid/dist/zoid.frameworks';

const ZoidComponent = zoid.create({
    tag: 'hello-world',
    url: `./child.html`,
    dimensions: {
      width: '600px',
      height: '400px'
    },
    prerenderTemplate() {
      const html = document.createElement('html')
      html.innerHTML = '<body>Pre-render</body>'
      return html
    },
    contexts: {
      popup: true
    }
  });

[2019-06-12 07:14] sainiankit commented on #234
`import * as zoid from 'zoid/dist/zoid.frameworks.js';` solves that problem but I get this in the console afterwards
<img width="718" alt="Screenshot 2019-06-12 at 12 44 20 PM" src="https://user-images.githubusercontent.com/4703046/59330677-bd367780-8d0f-11e9-893a-11916c3c2c52.png">

[2019-06-12 08:00] StanculescuDaniel commented on #240
It reproduces when parent is loaded from a webserver as well. For the attached `zoid.zip` example in my previous comment:

- Place `script-where-my-login-component-is-defined.js`, `zoid.frame.js`, `parentpage.html` on **webserver nr 1**

- Place `script-where-my-login-component-is-defined.js`, `zoid.frame.js`, `childpage.html` on **webserver nr 2**

- Modify `script-where-my-login-component-is-def

[2019-06-13 12:48] sainiankit opened #242 "How to add a custom header while fetching the child component with the specified url ?"
Would it be possible to add a custom header to the request fetching the iframe child ? The intent is to pass Access Token along with the request.

[2019-06-13 15:24] sainiankit commented on #242
I'm assuming that won't be possible because, if I use an Ajax call response as the **dataURL for src attribute of my iframe**, I would not be able to use postMessage API as I intended to, to pass messages to the child app loaded in the iFrame.

Is there a way round ?

[2019-06-14 21:38] umartopia commented on #242
can't you pass accessToken as part of the defined zoid props?

[2019-06-15 23:31] mdalzell commented on #241
#243

[2019-06-17 17:59] josephdgrady opened #244 "Not able to access popup window from parent"
After the parent app renders the component like so:

window.MyLoginZoidComponent({
    }).render('#container', 'popup');

is there any way for the parent app to access the popup window so that it can close it, change the URL, etc.?

[2019-06-18 07:51] umartopia commented on #239
a similar issue, I am getting is "Target window is closed"

`zoid.js:2424 Uncaught Error: Target window is closed
    at zoid.js:2424
    at zoid.js:2425
    at Function.ZalgoPromise.try (zoid.js:306)
    at send (zoid.js:2420)
    at zoid.js:2069
    at _loop (zoid.js:192)
    at ZalgoPromise._proto.dispatch (zoid.js:210)
    at ZalgoPromise._proto.then (zoid.js:223)
    at TripStore.crossDomainF

[2019-06-20 09:51] oluomotoso opened #245 "Zoid usage in vuejs"
Hello @bluepnume ,
I am having an issue with rendering zoid in vue.
No matter what I tried , I keep getting
`Uncaught TypeError: Cannot read property 'component' of undefined
    at Object.register (checkout.js:6817)
    at Component._proto.driver (checkout.js:7139)
    at Function.init.driver (checkout.js:7297)
    at Object.<anonymous> (watulink.js:79274)
    at __webpack_require__ (watulink.js:

[2019-06-23 05:51] sainiankit commented on #242
The application I'm trying to load itself requires the user to be authenticated. (It's not a standalone frontend). That is why, I wanted to pass the access/id token in the headers.

I'm using query-params for that now, however passing it in the heders was most desirable.

[2019-06-24 06:47] StanculescuDaniel commented on #240
@bluepnume, any updates about the fix for this issue?
According to https://www.chromestatus.com/features/schedule Chrome will start to receive automatic updates to version 76 on Jul 30.

[2019-06-24 19:26] bluepnume commented on #242
There's no way to pass a custom header to an iframe, unfortunately. Otherwise I would definitely add support to zoid.

Could you set up a new url which handles the request and proxies it over the original url, and adds the auth header?

[2019-06-24 19:30] bluepnume commented on #240
Very weird. I can repro on your test page, but not on https://developer.paypal.com/demo/checkout/#/pattern/client

Digging into this. Thanks for the help reproing.

[2019-06-24 19:53] bluepnume commented on #240
I did find a race condition setting the window name, which looks like a likely culprit. I can't test whether it fixed the paypal button in canary until tomorrow -- but in the mean time can you try the fix and let me know if it helped?

https://github.com/krakenjs/zoid/commit/d88b96a28de7e4dffa6d1bfdcf687208679913d8

I've published a new version of zoid with the fix included.

[2019-06-24 20:10] bluepnume commented on #240
OK. I repro'd the race-condition in a simplified environment at http://bluesuncorp.co.uk/icv4/foo.htm

Got it so the bug appears in canary but not standard chrome. The issue was the window name was being set AFTER the window location. That works in chrome but not canary.

I'll roll out the paypal sdk with this fix this week. Thanks again for catching this! As mentioned zoid is published with the f

[2019-06-25 07:00] StanculescuDaniel commented on #240
I tested zoid 9.0.28 on both Chrome 76 and 77 and the problem is gone. Thank you for the fix!

[2019-06-27 13:41] drank commented on #236
Checked today and it is again 6.0.76 - https://www.npmjs.com/package/zoid

How to install the latest version via npm?

[2019-06-27 13:42] drank opened #246 "What is the difference between v6 and v9?"
I see there are 2 versions in the releases and in NPM.

What is the difference and why do we need 2 versions? Which one to use?

Thanks.

[2019-06-28 18:39] jpmdev opened #247 "One Parent Multiple Children?"
Hello,

Can someone tell me if the following setup is possible and if so what setup is required?
Thanks in advance!

My Scenario:
I have a Zoid Parent that is initialized with TAG: "MY_APP" and the URL: "www.foo.com/A".

Zoid Child A, lives on "www.foo.com/A" with the same tag as the parent "MY_APP". A user interacts with a button on Zoid Child A and Zoid child A is redirected (inside the iframe)

[2019-06-28 18:48] bluepnume commented on #247
So long as the `tag` matches with the parent, and the domain matches the url that you pass, When zoid is loaded it will assume that it's the same component, and it will start populating `window.xprops`.

That said -- is there a reason not to just load the original zoid component code inside `www.foo.com/B `? Why do you need a different component to be loaded here?

[2019-06-28 18:58] drank opened #248 "Dynamic URL with Vue.js"
I cannot seem to find a way to use Zoid with dynamic URL in Vue.js applications.

I have 2 Vue.js applications, running on different domains, the 2nd app runs in an iframe. The source URL for the iframe is dynamic and changes every time the 1st app (the parent) loads. This URL is determined on app1 load and then stored in a Vuex store.

How to create a Zoid Vue component that has the URL provided

[2019-06-28 19:04] jpmdev commented on #247
@bluepnume Ah I see. In my actual scenario the domains are different between Child A and B. Now it makes sense. Thank you!

In regards to your question, Child B would be a completely different application than Child A but both would share the same Parent since they share common callbacks, etc..

[2019-06-28 20:06] #247 closed

[2019-07-02 07:22] #238 closed

[2019-07-02 12:51] rickyH commented on #246
We're thinking the same thing. v6 or v9? Is one stable one latest features maybe?

[2019-07-02 19:45] bluepnume commented on #246
Please use v9. v6 is only still supported for some legacy PayPal products which are unable to upgrade at this time.

[2019-07-02 19:45] #246 closed

[2019-07-02 20:37] bluepnume commented on #236
I've fixed this. But please specify `"^9"` in your package.json.

[2019-07-02 20:37] #236 closed

[2019-07-02 20:56] #240 closed

[2019-07-04 04:57] muhaimincs opened #249 "how to define props that listen to browser url change"
How do I write the definition to listen url of parent change. Here is how code it

[code]

So whenever the location or uri or hash change, fn `parentUrl` will have current value of url and I can trace the change through the `window.xprops.onProps`. Is that possible?

related: #130

[2019-07-10 20:09] mdalzell opened #250 "Setting `name` attribute of frame"
Is there a way to set a custom name attribute for the iframe within the component?  Right now the name is a long string like this:

`__zoid__demo_component__eyJ1aWQiOiJ6b2lkLWNoZWNrb3V0LWJ1dHRvbi0xYmFhNDYyMzQzX210azZudHk2bWptIiwiY29udGV4dCI6ImlmcmFtZSIsInZlcnNpb24iOiI5XzBfMjgiLCJjaGlsZERvbWFpbiI6Imh0dHA6Ly9sb2NhbGhvc3Q6MzAwMCIsInBhcmVudERvbWFpbiI6Imh0dHA6Ly9sb2NhbGhvc3Q6NDAwMCIsInRhZyI6ImNoZWNrb3V

[2019-07-10 23:04] bluepnume commented on #250
Yes, the name is used to pass down initial data/props, so it can't be overridden. Can you let me know why you're trying to set a custom name though? Maybe there's some other way to achieve what you're trying to do.

[2019-07-10 23:16] mdalzell commented on #250
Got it, thanks for the response.  Honestly I was just trying to replace the `__zoid__` identifier at the start of the string with my own module name.  Not a big deal if this isn't customizable, but that would be a nice feature in the future.

[2019-07-11 10:36] bluepnume commented on #249
I would be tempted to set this up like so.

In the parent:

[code]

In the child:

[code]

This way the child window can register a listener and react when the url changes. You would need to define a `onUrlChange` function which listens for changes and calls a callback though.

[code]

[2019-07-11 10:37] bluepnume commented on #248
You can define `url` as a function which decides which url to use.

[code]

[2019-07-11 10:38] bluepnume commented on #245
Are you using `dist/zoid.frameworks.js`?

[2019-07-11 10:39] bluepnume commented on #244
To close it:

[code]

[2019-07-11 10:39] bluepnume commented on #244
Can you elaborate on when the parent window would change the url?

[2019-07-11 10:40] bluepnume commented on #241
Thanks for taking care of this one!

[2019-07-11 10:40] #241 closed

[2019-07-11 10:40] bluepnume commented on #237
Do you have a page where I can try to repro?

[2019-07-11 13:17] clanga-flywire commented on #237
It seems that the issue was fixed in the meantime.
I tested today with the latest version `9.0.28` and it works.

[2019-07-11 22:14] josephdgrady commented on #244
Thanks for the close() info. We are thinking about having multiple popup widgets for our application that our clients could choose from. If they decide to use 2 widgets, they could make the flow seemless - once the first widget's flow is complete, they change the url to the next one (instead of having to close the popup and open a new one).

[2019-07-12 14:22] ericzou opened #251 "Getting intermittent ziod destroyed all error"
We are getting intermittent "ziod destroyed all" errors in production about once or twice a day.

I'm unable to produce the error locally and there was very little info about this error out there. so I'm wondering if anyone here can point me in the right direction to investigate?

we are injecting PayPal script and render the button dynamically (e.g. after user click something on single page app),

[2019-07-18 21:16] mdalzell opened #252 "`window.xprops` sporadically undefined in Firefox 68.0.1"
It seems that `window.xprops` is occasionally undefined for my components in Firefox 68.0.1 (it does work some of the time).  Chrome seems to work fine.

I'm rendering to the body of a parent window from within another zoid component:
[code]

I'm trying to access the `xprops` via a React component like so:
[code]

[2019-07-18 21:27] pnarielwala-tc opened #253 "[Question] Is it possible to render a React app in a zoid iframe"
Hello 👋

I'm looking to embed a React app into another React (CRA) app using zoid iframes. Is this possible? If so, how do I go about "connecting" the two apps? Specifically implementing this line from the README
[code]

Thanks!

[2019-07-18 21:31] mdalzell commented on #252
Nevermind, the issue was in how we were dynamically loading in the zoid component scripts

[2019-07-18 21:31] #252 closed

[2019-07-19 09:13] bluepnume commented on #249
Sure, the code you posted will work. And yes you can expose a function to the child window to cancel too.

[2019-07-19 09:15] muhaimincs commented on #249
how do I pass the callback from child?

[2019-07-19 09:18] bluepnume commented on #249
In the parent:

[code]

In the child:

[code]

[2019-07-19 17:48] muhaimincs commented on #249
thanks @bluepnume. Much appreciated

[2019-07-19 17:48] #249 closed

[2019-07-25 20:14] wjdgh329 commented on #244
@bluepnume what if we are providing an adaptor with methods that create({...}).render(#container) and one that needs to close this. how would i close that instance when they're just calling methods?

[2019-07-26 02:02] bluepnume commented on #244
@wjdgh329 I'm not clear on your question. Can your adapter expose a `close()` method, which calls close() on the zoid component internally?

[2019-08-01 09:56] carlosouro opened #254 "Using zoid with multiple component deployments"
Hi guys,

I've met Daniel at fullstack conf in London and that's how I came into contact with Zoid.
As I explained to Daniel we are have actually developed something similar in-house and we now considering moving to Zoid instead.

I just need to validate 2 use-cases:

**(1)**
In our case components are deployed into unknown domains (B2B - multiple 3rd parties), so it's really hard for us to have a

[2019-08-03 00:08] bookRa commented on #253
Hi @pnarielwala-tc

I wrote a short tutorial for how to deal with this: https://medium.com/@omar.abdelbadie1/cross-domain-react-apps-with-create-react-app-and-zoid-d6caae4380fe?source=friends_link&sk=b49e20b6eb36e782ae0d3a4cf9bb2d80

Hope that helps

[2019-08-10 19:22] bpartridge commented on #254
For (1) you can have the `url` be a function of the props passed in, like `url: ({props: {url}}) => url`, so it will essentially grab the URL from the props; not sure about (2).

[2019-08-10 22:01] bluepnume commented on #254
I'm not sure I totally understand the second use case. Can you describe a little bit more about what you're trying to do? Zoid does support render iframes on the current page (or in the current frame) using `.render()`, or to a remote window (or frame) where zoid is also loaded using `.renderTo()`.

[2019-08-16 13:21] oluomotoso opened #257 "Zoid not working on child on other domains"
I integrated zoid in a vue js application. Rendering it on any url on the same domain works but loading endlessly on cross domains. No error is outputed either.

Is there anything I need to do to make this work on other domains?

[2019-08-16 21:54] JesusAlbornoz commented on #251
Hi. Maybe it's render twice.
I have the code for render paypal button in a component. When I use the same component twice in another component view,  throw this error. Even if one of them is hidden.
When delete one of this components, no show the errors

[2019-08-19 14:06] th174 opened #258 "Setting sandbox attribute of frame"
Is there some way to set the sandbox attribute of the iframe? Specifically, I want to prevent the child inside the iframe from being able to inject javascript inside the context of the parent.

[2019-08-19 14:09] bluepnume commented on #258
Hi @th174.

You can do:

[code]

That said:

If the iframe is on a different domain, that will be impossible anyway, even without `sandbox`

[2019-08-19 14:15] th174 commented on #258
That's currently how it is, however, because of some unrelated requirements, I might need to reverse proxy the iframe's domain through the parent's domain. In that case, I would need the sandbox to preserve the same separation separation of permissions.

[2019-08-19 14:16] bluepnume commented on #258
Interesting. Could you reverse-proxy onto a subdomain? Otherwise the site will also have same-domain access to any of your server's urls/apis.

[2019-08-19 14:20] th174 commented on #258
I was hoping to prevent that by revoking allow-same-origin access with the sandbox attribute. Would that not be sufficient?

[2019-08-19 14:22] bluepnume commented on #258
That would work, but what if somebody redirects to the page outside of an iframe? Using a subdomain would give an extra layer of security for cases like that.

[2019-08-19 18:23] mfulton26 opened #259 "Comparison with web components"
I would love to see mention and comparison of iframes with Zoid vs. web components (pros and cons of each compared to one another, etc.). Thanks!

[2019-08-19 19:20] th174 commented on #258
After removing the `allow-same-origin` access, I'm getting the following errors:
[code]
Uncaught Error: Unexpected init message from domain null -- expected message from http://localhost:8080
[code]

[2019-08-20 12:49] semoal opened #260 "Investigation: How to use in NextJs (or other server side rendering)"
Hi!! Awesome library btw.

I didn't find any documentation about this use case, and i'll like to speak with some of you how this could be implemented.

I'm building a documentation previewer that is server side renderered (With react + nextjs) and i'll love to build a widget that let me pass from parent data to this iframe and re-render this view with the data that came from the parent.

I'll post

[2019-08-20 13:02] bluepnume commented on #260
This is totally possible with zoid. Question: would the re-render need to be server-side, or are you happy with that being on the client?

[2019-08-20 13:11] semoal commented on #260
The data comes from an express server , so I guess the re-render it's caused in server side.

[2019-08-20 13:35] bluepnume commented on #260
OK. Well you can use

[code]

[2019-08-20 13:45] bluepnume commented on #257
What is the `url` you pass to zoid?

And are you loading the zoid component in the child frame on those other domains?

[2019-08-21 08:23] semoal commented on #260
Got it working Daniel, I have some minor problems but ill fix them in a easy (or not easy way.. ;D)

I post a working example of SPA (App parent) and Nextjs SSR (App child).
https://gist.github.com/semoal/9ff2ac000040062d71ee6add04141dc1

Minor problems I've found:

- I can't change url of the widget dynamically, example: adding a select with different views that loads through the same widget diff

[2019-08-21 09:57] joseluis-fw commented on #108
It will be nice at least to have the PR description and closed issues between releases. Was difficult to link [this](https://github.com/krakenjs/zoid/issues/240) to [this commit](https://github.com/krakenjs/zoid/commit/d88b96a28de7e4dffa6d1bfdcf687208679913d8) in master.

[2019-08-23 00:39] blackorzar opened #261 "Demo of zoid with a modal (Like the paypal Checkout)"
Hello, could you please create a demo or example of zoid where the iframe shows inside a modal that takes the entire page? Like the paypal checkout where you show the login/password modal.

[2019-08-26 08:27] espring commented on #136
I have the same issue, and figured it out after I read @seans887's reply many times...

**The key point is that not only the parent page but also the child iframe page should include the xcomponent /zoid definition files!**

Take a look at the example code : zoid / demo / frameworks / react /

* login.js ==>   xcomponent definition

* index.html ==>  parent page includes both framework.js and logi

[2019-08-27 23:25] doublemarked commented on #240
@StanculescuDaniel thank you tremendously for identifying and isolating this issue, and of course to @bluepnume for fixing it. I invested only a mere hour tonight in what would have been much worse otherwise.

[2019-08-30 12:23] #260 closed

[2019-08-30 18:58] zacel commented on #261
Have you had any success with this? @blackorzar it looks like it can be achieved by setting the width and height of the zoid component to 100% each. I'm looking around seeing where these are set

[2019-08-31 17:51] Aroxed opened #262 "Open a third-party page in Iframe"
Hello.
Is there a way to open and have access to an random page (like www.facebook.com or cnn.com) in Iframe using zoid?

Thanks.

[2019-08-31 19:30] kristina1lyba opened #263 "Rendering zoid component inside an iframe issues"
Hey guys!

We have an issue with PayPal Smart Payment Buttons (which are implemented as a zoid component) and we already asked about it in PayPal's repo (https://github.com/paypal/paypal-checkout-components/issues/1192) but I will try to duplicate it here as well, cause it really hurts us!

Our PayPal button is rendered inside an iframe and we would expect the overlay to cover the full window but

[2019-09-02 15:50] bluepnume commented on #263
Yup!

Each iframe is sandboxed. So we can only render 'up' to a different frame, if the component is also loaded in the parent level frame. That way the child can communicate up, and draw the overlay you see.

[2019-09-02 15:52] bluepnume commented on #262
The page you load **must**:

1. Consent to being used as an iframe (so not contain any x-frame headers, csp headers, or javascript that would block it being used as an iframe)
2. Load your zoid component in the child, so that communication can happen between the child and the parent.

For those reasons, zoid is most useful when you own the child frame and you want to expose it as a zoid component.

[2019-09-02 15:56] bluepnume commented on #259
This is definitely a doc or article I'd love to see!

In reality, the main difference is that everything in an iframe is totally sandboxed. Anything which is rendered, any api calls which are made, any data or content or css -- the parent page can't access it or mess with it, which has great security and modularity advantages. Iframes can also access cookies and localStorage on a different domain

[2019-09-02 15:59] bluepnume commented on #261
Hopefully this is a good starting point: https://github.com/paypal/paypal-checkout-components/blob/master/src/zoid/checkout/component.jsx#L49

This is what we do at PayPal. The background overlay is rendered on the parent page, and the iframe is rendered inside that overlay.

Alternatively, you could write a `containerTemplate` which sets the iframe to be position `absolute` or `fixed` with 100% w

[2019-09-02 17:00] #257 closed

[2019-09-02 17:11] #23 closed

[2019-09-02 17:16] bluepnume commented on #6
This hasn't really come up for any real use cases, so closing this for now.

[2019-09-02 17:16] #6 closed

[2019-09-02 17:16] bluepnume commented on #44
Done.

[2019-09-02 17:16] #44 closed

[2019-09-02 17:21] #50 closed

[2019-09-02 17:22] bluepnume commented on #54
Closing this for now, since this can easily be achieved with just props (calling a prop with exports from the child). Not sure if a new built-in mechanism would be that advantageous.

[2019-09-02 17:22] #54 closed

[2019-09-02 17:22] #64 closed

[2019-09-02 17:23] bluepnume commented on #70
Done.

[2019-09-02 17:23] #70 closed

[2019-09-02 17:24] bluepnume commented on #71
Closing this as any combination of CSS and attributes can be added to enable scrolling; zoid doesn't really need to know about the specific details.

[2019-09-02 17:24] #71 closed

[2019-09-02 17:24] #86 closed

[2019-09-02 17:24] #92 closed

[2019-09-02 17:25] #97 closed

[2019-09-02 17:25] #100 closed

[2019-09-02 17:25] #105 closed

[2019-09-02 17:25] #115 closed

[2019-09-02 17:25] #116 closed

[2019-09-02 17:25] #121 closed

[2019-09-02 17:26] #213 closed

[2019-09-02 17:26] #212 closed

[2019-09-02 17:27] #206 closed

[2019-09-02 17:27] #203 closed

[2019-09-02 17:29] bluepnume commented on #202
Really? What happens if you don't include it?

That sounds like a bug. If you can provide some details, please open up a new issue and we'll get to the bottom of it.

[2019-09-02 17:29] #202 closed

[2019-09-02 17:30] #201 closed

[2019-09-02 17:30] bluepnume commented on #200
Closing this; please raise any paypal issues against the paypal repo.

[2019-09-02 17:30] #200 closed

[2019-09-02 17:31] #199 closed

[2019-09-02 17:32] bluepnume commented on #184
Does this example work? https://github.com/krakenjs/zoid/blob/master/demo/frameworks/angular2/index.htm

[2019-09-02 17:33] bluepnume commented on #178
There is no known fix for this at the moment. Moving an iframe closes and re-opens the inner window, which wreaks havoc with zoid's listeners.

[2019-09-02 17:33] #178 closed

[2019-09-02 17:34] bluepnume commented on #175
Please pass `onError` when you render the component, not when you create it.

[2019-09-02 17:34] #175 closed

[2019-09-02 17:34] bluepnume commented on #166
Are you still seeing this issue?

[2019-09-02 17:36] bluepnume commented on #162
Perhaps yes. Right now drivers only really apply to the parent page though, the assumption is that the child window could be any framework (or no framework). So `onProps` is a generic way to listen for prop changes.

Please feel free to open up a new issue to discuss.

[2019-09-02 17:36] #162 closed

[2019-09-02 17:36] #157 closed

[2019-09-02 17:37] bluepnume commented on #156
Are you still seeing this issue with the latest version?

[2019-09-02 17:37] bluepnume commented on #151
This should be fixed, please let me know if you still see it.

[2019-09-02 17:37] #151 closed

[2019-09-02 17:38] bluepnume commented on #141
You can now use:

[code]

[2019-09-02 17:38] #141 closed

[2019-09-02 17:38] #140 closed

[2019-09-02 17:38] #139 closed

[2019-09-02 17:38] #138 closed

[2019-09-02 17:39] bluepnume commented on #137
If you're still seeing this issue, please raise an issue over on the paypal repo.

[2019-09-02 17:39] #137 closed

[2019-09-02 17:39] #181 closed

[2019-09-02 17:40] #136 closed

[2019-09-02 17:41] #133 closed

[2019-09-02 17:41] #129 closed

[2019-09-02 17:41] #127 closed

[2019-09-02 17:41] #126 closed

[2019-09-02 17:42] #262 closed

[2019-09-02 17:42] #258 closed

[2019-09-02 17:42] #254 closed

[2019-09-02 17:42] #253 closed

[2019-09-02 17:43] bluepnume commented on #253
Great article, thanks @bookRa!!

[2019-09-02 17:43] #250 closed

[2019-09-02 17:43] #248 closed

[2019-09-02 17:43] #245 closed

[2019-09-02 17:43] #244 closed

[2019-09-02 17:43] #242 closed

[2019-09-02 17:44] bluepnume commented on #239
Can you share a demo page where I can repro?

[2019-09-02 17:44] #237 closed

[2019-09-02 17:44] #230 closed

[2019-09-02 17:44] #227 closed

[2019-09-02 17:45] #223 closed

[2019-09-02 17:46] bluepnume commented on #222
I'm going to close this for now. I think polyfilling `atob` and `btoa` is the best approach. I'd rather not bloat zoid with additional polyfills.

[2019-09-02 17:46] #220 closed

[2019-09-02 17:46] #218 closed

[2019-09-02 17:49] doublemarked commented on #222
This pops up for us regularly on modern browsers. It seems odd to me that a polyfill would be necessary. It's dependent on the content, not on the browser, right? Are there browsers that this does not occur with?

[2019-09-02 18:39] bluepnume commented on #222
Reopening.

I'd count it as a bug that btoa/atob in modern browsers don't work by default with unicode; but I'm sure there are good backwards compat reasons that can't be fixed. It would be good if a new api were exposed that we could use.

But on second thought, requiring devs to polyfill this or pass in their own custom serializer because of a browser issue, seems like overkill.

I'm debating ju

[2019-09-02 18:41] doublemarked commented on #222
@bluepnume thank you very much for reconsidering!

[2019-09-03 07:59] r0stig opened #264 "Disabling prerenderTemplate stops rendering main component"
This is a continuation of this issue: https://github.com/krakenjs/zoid/issues/202#issuecomment-527210892
This might just be a feature request, it's up to you to decide :-) .

Before in version 7.x I was able to set prerenderTemplate to null to disable the loading spinner. But in 9.x I have to include the prerenderTemplate in the DOM within the containerTemplate or the main component won't show. Th

[2019-09-03 08:26] shikshik commented on #97
I'm sorry I missed your response. But since we reported the issue, we found alternatives and fixed all the problems.
Probably you also updated the library. If we will find similar issues, I will report back. Thanks!

[2019-09-03 10:40] doublemarked commented on #156
So, good news: I've ported my test case over to the latest version and can no longer reproduce it there. Later this week I'll revert the workaround we put in our main codebase and confirm whether it's gone there as well.

[2019-09-03 11:38] ar7casper opened #265 "window.location.host is empty in webview context"
Hi,

I'm using zoid in 3 envs -
web, ios & android.

everything works fine on web.
The problem is in ios & android where a webview is loaded from a template in the app.
In that case, what happens is that `window.location.host === ''` and I get the following error -

I'm looking for a way to override and supply my domain manually (I've seen the `mockDomain` property).

[code]

Do you have a solutio

[2019-09-03 12:09] ar7casper commented on #265
That's the actual function that fails -
[code]

[2019-09-03 12:21] AndyOGo opened #266 "please provide ESM export"
Would be nice to have ESM bundles

[2019-09-04 07:02] ar7casper commented on #265
Found the problem -

On Android, You can use `loadData` & `loadDataWithBaseURL` when loading the webview, the latter fixes the issues.

[2019-09-04 07:02] #265 closed

[2019-09-10 10:18] KyorCode commented on #222
We are also in desperate need for this fix as it currently blocks us for going into production with our software.

[2019-09-10 19:11] #222 closed

[2019-09-10 22:50] #263 closed

[2019-09-10 22:50] #261 closed

[2019-09-10 22:51] #259 closed

[2019-09-10 22:51] #166 closed

[2019-09-10 22:55] bluepnume commented on #222
New zoid version published!

[2019-09-11 07:22] KyorCode commented on #152
This is still a problem. Even `require('zoid/dist/zoid.frame')` isn't working in zoid@9.

[2019-09-11 07:24] doublemarked commented on #152
@KyorCode I can't remember the reason, but we are using currently `require('zoid/dist/zoid.frameworks')`

[2019-09-11 12:24] KristofVDB1 opened #267 "Can you use post-robot to update the props of a zoid-component?"
I've been working on an integration between a react component and zoid for a while.

So far I've been able to create an iframe that gets generated by zoid with a couple of props that go along. Is it possible to update the props that get passed to the zoid-component using cross domain communication like post-robot? For example, I'd like to update the name prop and have the changes immediately visib

[2019-09-11 14:06] mcorrand opened #268 "Listening to events - only resize seems to trigger."
I'm trying to understand the event lifecycle better but it seems that only the resize event is firing.
[Here is some sample code.](https://gist.github.com/mcorrand/7a8aa44a48fc86494e3391bc8b5b5b4b)

I bind to every available event in the containerTemplate function. When I render the component, I only get a couple resize events in the console.

I must be missing something obvious. Does the child pa

[2019-09-11 15:25] mcorrand commented on #268
After further testing, yes, the child page does need to load the component too!

[2019-09-11 15:25] #268 closed

[2019-09-11 18:55] SachinShekhar opened #269 "Force allowedParentDomains value entry in the name of user security awareness"
Zoid is an awesome library from usability and security standpoint. But, it needs to rethink default values.

HTML5 Window.postMessage() API has two important attributes viz. `target` and `origin` from security standpoint. Security concern: https://securingtomorrow.mcafee.com/business/security-risks-arise-insecure-implementations-html5-postmessageapi/

`origin` equivalent (from listener's perspecti

[2019-09-13 07:49] bluepnume commented on #269
Definitely open to discussing this.

That said: the default use-case for zoid is intended to be components which are built for sharing / public consumption, with 'internal' components being the special case.

At the very least, we should make the default policy more prominent in the docs, though.

[2019-09-23 08:53] jonisar opened #270 "Add component collection?"
Is it possible to use [Bit](https://github.com/teambit/bit) to create a component collection on [bit.dev](https://bit.dev/) ([like this one](https://bit.dev/mui-org/material-ui))?
It will make it easy to find, try (sandbox) and install individual components to reuse them between projects. It will also let people bring and develop components right from their own consuming projects. Can be useful if

[2019-09-23 11:19] KyorCode opened #271 "Override definition values"
Hi,

We upgrade from 6 to 9 and had a question about the `create` method.
In 6 we were able to overwrite `dimensions` for example when we called `render`.

But I can't seem to find a way to do this in 9. The situation is that we provide a sensible default to our consumers, but they should be able to overwrite some properties like `dimensions`.

Any hints or tips I could get to accomplish this?

Th

[2019-09-27 13:25] prgodlonton opened #272 "Advice on handling major breaking API changes with existing clients"
Any advice on how to handle major API breaking changes to the component definitions that are in use by clients? I thought that versioning the component definitions would be the best approach, but I noticed that PayPal doesn't do this. Versioning raises the ugly problem of supporting different versions of the iframe components with differing JS code to read the potentionally different xprops that a

[2019-09-30 18:05] jdtorregrosas opened #273 "Use the same widget with different props in the same page"
Currently I'm trying to use the same widget in the same page, but I need both to look different, but it shows always the same, should I change the ttag for each widget instance?

[2019-10-01 01:33] bluepnume commented on #273
Can you pass a prop that's used to customize how the component looks?

[2019-10-01 07:30] jsebrech commented on #184
The angular 2 approach didn't work for us in angular 6+. Instead we created an [angular wrapper component](https://github.com/digipolisantwerp/embeddable-widgets_component_angular). We've also wrapped zoid into our own library so the code can be a bit hard to follow, but basically if you check how it is used in the readme and look at the code in [widget.component.ts](https://github.com/digipolisan

[2019-10-03 11:11] SamaneYaghoobi opened #274 "Uncaught Error: Unable to find global parent component window"
Hi, When I copy & paste the basic demo example and run locally, I get this Error below:

[code]

my login.js:

[code]

[2019-10-04 22:40] leifj opened #275 "version confusion on npmjs.com"
3 days ago somebody pushed 6.0.77 as the latest version on npmjs.com. The previous version was 9.0.34 about 10 days ago. Was this intentional?

[2019-10-04 23:58] bluepnume commented on #275
Fixed, thanks for the heads up!

[2019-10-04 23:58] #275 closed

[2019-10-06 12:47] kevinscareer21 commented on #200
This was helpful. If you are looking to hide the paypal button in your checkout page on shopify. Checkout this link
[https://medium.com/@navneet_yadav/how-to-hide-the-paypal-button-from-shopify-checkout-and-cart-page-2ee94591117](url)

[2019-10-14 02:12] muhaimincs opened #276 "What is the possible cause for EVENT.RENDERED not triggered?"
Any idea?

[2019-10-14 02:17] bluepnume commented on #276
Do you see any errors when calling `foo().render('#container').catch()`?

Are you loading the zoid component in the child window?

If you can set up a demo page somewhere, I can help debug.

[2019-10-14 02:26] muhaimincs commented on #276
no it doesn't yield any errors.

here is how I set it up

[code]

I use zoid-demo for this

[2019-10-14 02:30] bluepnume commented on #276
Thanks. I don't see any problems with this code. Can you share an example page or repo where I can run this?

[2019-10-14 02:33] muhaimincs commented on #276
and here is my `containerTemplate`
[code]

[2019-10-14 09:49] muhaimincs commented on #276
i am not able to set the actual site to test but I have it host here:

https://whatsapp-widget.mcs.now.sh

and you can try to launch it by

[code]

[2019-10-15 07:31] bluepnume commented on #276
`MCS` is not defined when I try to access it in the console. I don't see an iframe being loaded either.

[2019-10-15 07:34] muhaimincs commented on #276
Sorry. My mistake. It suppose to load

https://whatsapp-widget.mcs.now.sh/chat.js

[2019-10-15 07:36] bluepnume commented on #276
OK. Please let me know when the page is ready for me to test.

[2019-10-15 14:42] muhaimincs commented on #276
@bluepnume, my mistake. I completely forgot to load the script on the child end. That is what causing it not to populate the xprops

[2019-10-15 14:42] #276 closed

[2019-10-15 16:54] marcgarygray opened #277 "Possible bug when calling a fetch POST request from child with a file as the payload"
I am passing my `zoid` child component a set of wrapper functions as props so that the child can invoke API requests from the parent.
If I call `window.xprops.post('url', {'foo': 'bar'})` and log the 2nd argument to the post function in the parent component, it will log `{'foo': 'bar'}`. Great! _However_, if I add a file uploader to the child and pass the file to the exact same function and log th

[2019-10-15 21:40] bluepnume commented on #277
Can you serialize the file as a string before sending it? Typically zoid can only pass data which can be json-stringified, with a few exceptions.

[2019-10-15 21:41] bluepnume commented on #274
Are you testing on a web server? Do you have a page where I can try?

[2019-10-15 21:45] marcgarygray commented on #277
@bluepnume I was doing some reading about the `postMessage` API (which I imagine is what you're using under the hood) and the `transfer` argument (the third argument to the function) will accept an `ArrayBuffer`. Would it be possible to have `zoid` convert the `file` object to an `ArrayBuffer` and then pass it to the parent as the third argument in the `postMessage` instead of having to string ser

[2019-10-16 00:12] marcgarygray commented on #277
Seems like the change would have to be made to the underlying `post-robot` library you built. Would you be open to me forking the repo and trying to intercept the file, converting it to an ArrayBuffer before putting it in the postMessage, then turning it back into a file on the other side so it can be a straight file-in/file-out type of functionality? I'm not sure how feasible this is, but I would

[2019-10-16 04:32] bluepnume commented on #277
I'm open to it -- but one thing to bear in mind is, the serializer in post-robot is also used to construct the initial window name in zoid, with any initial props that are passed down:

https://github.com/krakenjs/zoid/blob/master/src/parent/index.js#L260

That window name has to be a string. So we'd need to think about how to deal with that somehow. (Potentially the solution is just erroring out

[2019-10-19 17:01] SamaneYaghoobi commented on #274
@bluepnume I didn't know that I must test on a web server, accidentally run it and It works.
I think it's better to mention this point in readme or doc.
Thanks a lot for developing Zoid It is really helpfull :)

[2019-10-19 17:01] #274 closed

[2019-10-21 21:04] russelh15 commented on #252
@mdalzell What was your solution?

[2019-10-22 02:13] mdalzell commented on #252
@russelh15 My issue was that the source scripts for the zoid were not always loading before the script for the component.  I was trying to be clever with lazy loading the scripts, but that ultimately backfired on me.  This problem was a little insidious, since the issue was almost non-existent in Chrome but somewhat frequent with Firefox, and I'm not entirely sure why.

[2019-10-22 20:39] russelh15 commented on #260
@semoal Did you run into a race condition where window.xprops is undefined on initial render?

In the code below, the first console.log is `undefined`, but the second console.log shows the correct props.

[code]

[2019-10-23 14:34] semoal commented on #260
No, i didn't mate.

Im currency doing other approach.

  public componentDidMount(): void {
    if (window.xprops) {
      this.setState({ zoidProps: window.xprops });
      console.log(window.xprops);
      window.xprops.onProps((props: any) => this.setState({ zoidProps: props }));
    }
  }

passing that to state, i can directly use on render: this.state.zoidProps && this.state.zoidProps.value (

[2019-10-23 20:35] russelh15 commented on #260
@semoal Thanks for the reply. After much frustration, I got mine to work.

It turns out it was the order I was loading my scripts in _app.js. I did not realize the placement of <NextHead> really mattered, but apparently it does.

Side note, how are you handling urls in your widget.js file?

For example, i see you have it hardcoded to localhost, but how are you managing that in different environmen

[2019-10-29 12:17] r0stig opened #278 "No ack for postMessage X in Y in 10000 ms"
We got a live chat widget deployed to multiple customers which is using two iframes to show it's contents and is communicating with each other and the host page with Zoid. An issue that has been reported in Sentry for a while is the following error:
[code]
Where X is different kind of methods that is defined in our code.

I don't have much information yet since I'm not able to reproduce this error

[2019-11-02 03:05] sibiraj-sr commented on #108
@bluepnume friendly ping.

[2019-11-07 03:41] navarone-feekery commented on #167
@davepenfold
Did you manage to get this to work? I'm attempting to do a similar thing currently but with no luck.

[2019-11-09 13:36] drank opened #279 "[Vue] Use v-on (i.e. events) for setting callback functions"
Hi,

Would it be possible to extend the Vue driver so that when we want to pass a callback function to the client Zoid, we use the v-on attribute on our parent Zoid component, e.g.:

```<my-zoid-component exampleProp="something" v-on:someEvent="onSomeEvent"/>```

instead of

```<my-zoid-component exampleProp="something" :onSomeEvent="onSomeEvent"/>```

[2019-11-14 19:45] drd-2rcl opened #280 "Render react-component in other cross domain than don't use framework/lib"
Hello guys, you have any example about how i configure one project than use vanilla js for receive my component? Because, I think have a problem for pass down props or values.

Thanks!

[2019-11-29 09:22] KristofVDB1 opened #281 "Setting the height-dimension in percentage does not work"
I was trying to set the dimensions of the zoid by using the percentages as suggested by the docs. Setting the width to '100%' does work but whenever I change the height-dimension to a percentage, the iframe does not show up. It only works with pixels. I'm currently using Zoid in a React-environment.

Code for reference:

[code]

[2019-12-02 08:23] #281 closed

[2019-12-03 05:58] mayteio commented on #162
For react specifically, you can use the following hook in your child to enjoy up-to-date props:

[code]

[2019-12-04 13:22] muhaimincs opened #282 "Remove zoid component"
How do I programmatically remove zoid component

[2019-12-06 23:46] NFhbar opened #283 "How to pass props to remote pop up?"
I have the following situation:

1. I want to provide a zoid component that renders a simple button
2. on click, this button should render another zoid component (react) that performs some complex functionality
3. props should pass from the site that hosts the button component through to the final zoid component (react)

Much like this example: https://github.com/krakenjs/zoid/tree/master/demo/adv

[2019-12-07 22:55] NFhbar commented on #283
I found a solution, you need to include the component in your react app.
So the `login` component includes the script in the public folder `index.html`:

[code]
Then the props propagate correctly from user to final `zoid` component.

However, when I tried to include the component via `npm install` and:

[code]

I get the following error:

<img width="1077" alt="Screen Shot 2019-12-07 at 2 53 50 PM

[2019-12-09 18:58] ziyadparekh opened #285 "Triggering Zoid components programmatically"
Is there a way to trigger a "click" on a zoid component, rendered as a button inside an iframe from  the parent page that it is rendered on?

For example, with the PayPal button, would it be possible to call `paypal.Button.trigger("click")` for example or something similar that would cause the button to be clicked?

I know you can't, for instance, use jQuery to search the DOM tree for the button e

[2019-12-09 19:26] ziyadparekh commented on #285
Additionally, if the `connection` between the zoid component on the parent page and the zoid popup window "breaks", is there any way to re-establish that connection?

[2019-12-10 13:08] sjoedwards commented on #259
Hi @bluepnume, when you say that 'the iframe is totally sandboxed', do you mean that javascript on the parent page can't read or manipulate any of the content contained within the iFrame? Even without the `sandbox` attribute being set?

Thanks,

[2019-12-11 02:06] coderguy commented on #283
Fighting with this issue as well.

[2020-01-09 01:23] mayteio commented on #282
After `zoid.create({tag: 'my-component'})`, I may want to re-create that component however get the error "Can not register multiple components with the same tag:".

`zoid.destroy({tag: 'my-component'})` would be ideal.

[2020-01-16 22:30] mayteio commented on #282
Turns out there is this functionality, just not documented. In my case of React:

[code]

Or, to destroy everything (components, bridge, global);

`zoid.destroy()`

[2020-01-20 05:55] mayteio opened #288 "Why does zoid.destroy() throw an error when it destroys components?"
I need to create a react zoid component during the render phase, based on some props where we don't know the tag or url ahead of time. My component looks like this;

[code]

The component above works fine and as expected, however, there's a niggly `Uncaught Error: zoid destroyed all`. I destroy before creating because if I don't, I get the error `Can not register multiple components with the same

[2020-03-06 20:39] bluepnume commented on #23
Hi all -- if anyone is interested, just pushed support for shadow dom using slots. This should open the door to more framework support.

[2020-03-11 16:15] SunilJamkatel opened #289 "Render ContainerTemplate using vanilla javascript in Angular"
I'm trying to use `containerTemplate `to render a overlay on the parent while a popup is invoked. I'm using Angular. I am able to invoke a popup but I can't (or, don't know how to) define `containerTemplate`.

This is how my `widget.js` file looks like:

[code]

Very new to this so any help would be appreciated.

[2020-03-12 15:49] SunilJamkatel commented on #289
I figured the solution. Just putting it here for others who have similar problem in the future.
[code]

This needs to be in the parent side.

[2020-03-12 15:49] #289 closed

[2020-03-24 04:34] ouijan opened #291 "process is assumed to exist, which it doesn't in the browser"
When trying to use a package (which depends on zoid) we get an error that points to:
`https://github.com/krakenjs/zoid/blob/bad7235289672fe374c8f1fd5b000918ff9193e3/index.js`

Which is assuming that `process` exists (which it doesn't in the browser).
If fixed we can remove this polyfill:
[code]

Environment Angular 9

[2020-03-25 15:13] christianpv commented on #151
The warning is still there when using the latest minor of version 6 of the library. I tracked it down to the event `DOMNodeInserted`. Would you like me to submit a PR?

[2020-03-25 17:59] katerberg commented on #151
@christianpv I'd create a new issue or PR and link it to this one. Most maintainers don't check closed issues.

[2020-04-01 11:04] jimmyn commented on #152
I'm having the same issue.

This does not work, zoid is undefined
[code]

This somehow works:
[code]

I'm using "zoid": "9.0.42"

[2020-04-04 02:12] Kadolly36 opened #292 "Pay pal button"

[2020-04-04 02:12] Kadolly36 commented on #292
What about that button

[2020-04-04 02:12] Kadolly36 commented on #292
Ndukugrace36@gmail.com

[2020-04-06 21:13] #292 closed

[2020-04-06 21:15] bluepnume commented on #288
Can you just make `url` a function here, if it needs to be dynamic?

[2020-04-06 22:10] mayteio commented on #288
Wouldn’t that be a memory leak? Leaving all these instantiated zoid components in memory?

[2020-04-06 22:12] bluepnume commented on #288
Zoid components are designed to be created once, and rendered many times.

Other than dynamically generating the url, why do you need to create the zoid component on each render?

[2020-04-06 22:15] mayteio commented on #288
The URL can change rendering different remote components. I ended up using [paciolan/remote-component](https://github.com/Paciolan/remote-component) by publishing commonjs components to npm and it all works natively 🙏

Thanks for your help though.

[2020-04-06 22:15] #288 closed

[2020-04-06 22:23] bluepnume commented on #288
Fair enough :)

That's why I suggested setting `url` as a function though. Based on the props passed, you can generate totally different urls.

[2020-04-17 21:52] dchersey commented on #139
Hi, I had the same question -- here is what I got working:
[code]
I did not need to reference zoid in MyComponent.js ... it has no idea it is being framed by zoid or in an iframe on another site.

This is also a better example in modern React.js of how to integrate zoid ... took me a while to translate the example code.

[2020-04-17 22:02] dchersey opened #293 "Example embedding zoid in a modern React.js app"
Hi, I just spent some hours attempting to understand how to use zoid in the context of a modern react.js app, and thought I would share .... I am using react-rails so I don't even have access to the ReactDOM.render code .. instead I use react-router-dom to handle component rendering.

My test parent app is also React.js so I thought this example could help others:
[code]

That's it --  this render

[2020-04-21 03:16] manishajmera opened #294 "window is not defined when using with Nextjs app"
ReferenceError: window is not defined
reactive-framework:     at Object../node_modules/post-robot/src/conf/index.js (/home/info/Documents/reactive/myexample/packages/my-lib1/.next/server/static/development/pages/_app.js:4166:77)

[2020-04-21 11:53] manishajmera commented on #294
Fixed the issue using dynamic loading in NextJs

[2020-04-21 11:53] #294 closed

[2020-04-21 12:50] manishajmera opened #295 "Why we need to include zoid component created on parent app need to include it on child frame too"
Why we need to include zoid component created on parent app need to include it on child frame too. Is there any way without importing zoid component into child

[2020-04-21 15:14] ddenev opened #296 "Mutating one prop recreates the whole window.xprops object"
I am passing a number of properties from parent to the child (the child is an iframe). Some of the props are primitives, some are arrays of objects.

I noticed that when I mutate one prop (e.g. a primitive one) then the whole `window.xprops` object is recreated, i.e. it becomes a completely new object. Since the child is a reactive app (Vue), rebuilding the array prop forces the child to rerender

[2020-04-22 18:25] dchersey commented on #136
Had the same problem, but with a twist ... I was trying to render a react.js component in a second iFrame in the parent window, initiated by a button in a react component that was also embedded in a different iFrame of the parent window.

So the following code in the parent page:

[code]

renders the first component just fine.

In ReactComponent2 I have
[code]
This rendered just fine into #contain

[2020-04-22 19:34] dchersey opened #297 "Updated from v6 to v9 ... allow: geolocation no longer works for iFrames"
I am using

[code]
in my iFrame, and it was working ... but then due to another issue I was having rendering remote popups, I realized I had inadvertently gotten V6 when I did yarn add zoid .... because it was the latest one tagged i guess.

Hoping this would solve my popup problems, I updated zoid to v9.0.42 and then ran the same code.  I had to fix the react driver issue by using `import * as zo

[2020-04-22 23:43] bluepnume commented on #297
Hmm. All zoid does is add the attribute. Struggling to think of a reason why the new version would change anything here...

[2020-04-22 23:47] bluepnume commented on #282
Hi, you can do:

[code]

[2020-04-22 23:47] #282 closed

[2020-04-23 15:03] ddenev commented on #296
Dear @bluepnume , I would really appreciate your input on this - I am in the middle of a major architectural decision for my app and I need to know if this is a bug (and hence could be fixed) or is considered by design, so that I can decide how to implement my application.
Thank you in advance!

[2020-04-23 19:15] bluepnume commented on #296
Hi, fair question. This is a tricky one to solve since everything is being serialized and passed over a post message to get it into the child window. Right now zoid doesn't do any kind of deep checks to determine what changed and what didn't.

I'm more familiar with React than Vue -- but is it possible to add any kind of checks in the child app, to only re-render if certain values actually changed

[2020-04-23 19:33] ddenev commented on #296
Thanks for replying!

Ah, yes, I somehow completely missed the serialization aspect which most probably means that a new props object arrives at the child every time a prop is changed in the parent.

Yes, it is possible. I could use my own (or a 3rd party library, e.g. lodash) code to do the comparisons at the child and act accordingly.

I guess that would be the best approach - this way the passi

[2020-04-23 21:02] lpellegr commented on #266
@bluepnume Would you accept a PR that adds a build step to produce an ESM variant in dist?

[2020-04-24 10:17] jurajkrivda commented on #281
How you did resolve this?

[2020-04-25 14:23] ddenev commented on #296
For anyone who might also wonder about this, here is my solution for Vue below.

This is my child component:
[code]

This guarantees me that the properties in `xprops` are only mutated when there is indeed a change in any of them which brings back the needed reactivity.

[2020-05-04 07:59] peter-hartmann commented on #293
It seems ok for a react app to provide multiple zoid components.

[code]
Further ```zoid.create``` call could be moved into the Component's code, keeping the App router above clean.
Great for application extensions where an extension provides more than one zoid component.

[2020-05-10 16:31] Grabber opened #298 "How to style both `component` and `iframe`?"
@bluepnume

Thank you so much for sharing this with community!

Could you please help me to figure out how to apply css/style on both `component` and `iframe`? I need to inject these styling code:

## zoid-my-login-component-366e992339_mty6mjc6nta
[code]

## iframe
[code]

Thank you so much!

[2020-05-20 09:12] sect2k opened #301 "Prop validation doesn't work."
Hey!

First of all, just want to say thanks and express my appreciation for your work on this library, it's excellent.

Looks like `validate` method on prop definition never gets called and from looking at the source code, it seems that it's conditioned by `__DEBUG__` being true.

[2020-05-26 17:43] blumk opened #305 "npmjs.com: latest tag points to 6.0.79"
V9 is the latest version to use according to #246.

NPM latest tag still points to 6.0.79 instead of 9.0.42
https://www.npmjs.com/package/zoid

This causes all new projects to be created with v6.

[2020-05-26 18:17] bluepnume commented on #305
Fixed! Thanks for the heads up

[2020-05-26 18:17] #305 closed

[2020-06-04 08:46] OlehRb opened #308 "Attributes, based on props"
In our widget we are using user's location and it seems, like simple
[code]
doesn't work anymore as Features Policy now requires the iframe's url to be passed explicitly, like: `allow: 'geolocation https://my-awesome-widget.com'`

The problem we faced is that we have different environments: development, stage and production and they all have different urls

The environment is passed as an optional

[2020-06-08 17:00] eldiegoman commented on #288
Hi @bluepnume

So, how could we update the URL of the Zoid-component that was created with a specific URL? I mean, it's possible to update the URL of the component used in the `create` function from Zoid?

[2020-06-08 21:33] eldiegoman opened #310 "Update URL from Zoid component"
Hi,

I need to update the URL value used when the Zoid component was created. I need to update the URL because I'm building the URL including some parameters that change many times.

It's possible to update the URL value? or destroy the current zoid-component and create another to avoid the common issue related to the creation of a component with the same tag?

[2020-06-08 23:54] bluepnume commented on #310
Hi,

When you're setting up props you can set `queryParam: true` to make the prop appear in the url. Is that enough to solve this one?

[code]

[2020-06-09 19:36] bluepnume commented on #308
This is a fair ask. We can probably allow `attributes` to be a function that takes props. If you'd like to make a PR with that change, I'd be happy to merge it in 👍

[2020-06-10 05:24] OlehRb commented on #308
@bluepnume, thanks, I will give it a try, most probably during this weekend, and get back to you as soon as I have something :+1:

[2020-06-12 13:34] OlehRb commented on #308
@bluepnume, I've submitted a PR https://github.com/krakenjs/zoid/pull/311
It seems to be rather a small change actually

Can you, please, take a look at it?

[2020-06-12 15:07] eldiegoman commented on #310
Hi,

Works for me, thank you @bluepnume

[2020-06-12 15:07] #310 closed

[2020-06-16 15:07] OlehRb commented on #308
@bluepnume , ping

[2020-06-17 16:18] #308 closed

[2020-06-18 08:40] OlehRb commented on #308
@bluepnume , sorry to bother you, but when do you expect the version this version to be released to npm?

[2020-06-22 15:46] wallyfaye opened #312 "EVENT.RENDERED is not being triggered"
Using the `defaultPrerenderTemplate` and `defaultContainerTemplate` functions found in the files here `src/component/templates`, the event `EVENT.RENDERED` is not being trigged.

As a result `CLASS.VISIBLE` and `CLASS.INVISIBLE` are not being changed as expected.

Please note: in `zoid.create` **_the website is actually loading and being rendered_** and can be seen if you manually toggle the visib

[2020-06-23 01:25] wallyfaye commented on #312
The following has be called at the `iframeUrl` for `EVENT.RENDERED` to fire

    zoid.create({
        tag: 'my-login-component',
    })

[2020-06-23 01:25] #312 closed

[2020-06-25 14:03] mnicpt commented on #301
@sect2k Thank you for taking the time to bring up this issue! :)  We just merged a fix for this yesterday. This will be included in our next release.

[2020-06-26 08:02] Xbloud commented on #216
Is it possible to fix that without changing source code of zoid?

[2020-07-06 14:19] Andrea1710 commented on #184
Hello! Is there any example with latest Angular to work with Zoid?

[2020-07-07 14:56] mnicpt commented on #184
@Andrea1710 We are close to publishing for Angular 2 but not Angular 6.  I will add this to our documentation backlog and will provide a working sample for you by end of day tomorrow.  Thank you.

[2020-07-09 13:47] mnicpt commented on #184
@Andrea1710 Angular 6 is currently not supported and will add this to our current backlog.

[2020-07-10 12:43] #301 closed

[2020-07-15 22:54] vlopez opened #315 "Does this support the sandbox attribute on an iframe?"
We are looking into ways of isolating components from our application, this sounds like a good approach to simplify communication. One of the requirement we have is using the sandbox='allow-scripts' attribute  on the iframes
https://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/

Which would mean each iframe will have a uniquer origin, I suspect this should be compatible if this libra

[2020-07-20 19:36] vlopez commented on #315
I was able to add the `sandbox='alllow-scripts'` attribute via a custom containerTemplate

[code]

However, the page fails with the following error:
[code]

I have done some research and the key here is that origin for sandboxed iframes is set to null.

Then, there is some code in
https://github.com/krakenjs/post-robot/blame/7710b5a4035e392edafe01d1b0c8ba999e2c654f/src/drivers/receive/index.js#L11

[2020-07-20 22:21] vlopez commented on #315
I tried a naive patch that seems to work and I think it's more secure.
I'm trying this in the dist version to quickly experiment, but essentially if I add this other condition checking if the source of the event matches one of frames in the current window (parent)

[code]
into `function_serializeFunction`
[code]
then even if `matchDomain` fails, since its coming from one of the iframes we rendered

[2020-07-21 17:37] kimutaiRop commented on #298
Can anybody answer this... I also need to make the iframe float on top of the main content page like a modal I know how to make the style but how do I inject

[2020-07-21 18:05] vlopez commented on #298
Hi,

I have you looked into providing a custom template:
https://github.com/krakenjs/zoid/blob/master/docs/api.md#containertemplate-opts--htmlelement

You get access to the iframe element and you should be able to wrap it around any divs or dom elements you want to as well as to add any css classes that will allow you any style customization.

[2020-07-22 15:43] vlopez commented on #295
My understanding is that you need to include the component in the child frame too because it internally initializes the channel to communicate with the parent, the is a handshake/initialization process so you need code running and the component registered on both ends.

[2020-07-22 16:10] vlopez commented on #315
@bluepnume any thoughts on adding this alternate check, maybe as an optional fallback?
I could work on the PR, it would be nice if you can provide initial guidance. I think the original file that needs to be patched to enable support is

[2020-07-24 00:15] vlopez commented on #295
It is further explained here:
https://youtu.be/UpXavGv7FaI?t=757

[2020-07-24 14:47] zomaish opened #317 "No ack for postMessage initChild()"
I am using Zoid to load an external page in an iFrame in my application. My host page is a bit heavy with content (nothing I can do about the page DOM nodes or content immediately). When I load the parent page, my child content doesn't appear  in the zoid iFrame and I get the following error No ack for postMessage initChild() in (domain here) in 10000ms.

Useful information:
Zoid: 9.0.42, also tri

[2020-07-27 15:58] zomaish commented on #317
Any advice on this issue?

[2020-07-27 17:03] gregjopa commented on #317
Hi @zomaish can you try increasing the timeout with this approach?
[code]

https://github.com/krakenjs/zoid/issues/207#issuecomment-460873784

[2020-07-27 17:23] zomaish commented on #317
@gregjopa I have tried this config from https://github.com/krakenjs/zoid/issues/207#issuecomment-460873784 but got this error
Uncaught TypeError: Cannot read property 'CONFIG' of undefined

Is there a configuration I need to add to expose postrobot. When I console.log(zoid) I get this prototype
CONTEXT: (...)
EVENT: (...)
PROP_SERIALIZATION: (...)
PROP_TYPE: (...)
PopupOpenError: (...)
create: (..

[2020-07-27 20:53] zomaish commented on #317
@bluepnume any ideas/suggestions?

[2020-07-27 20:54] gregjopa commented on #317
@zomaish Ahh good point. That solution (`zoid.postRobot.CONFIG.ACK_TIMEOUT`) seems out-of-date. Sorry about that.

It looks like there is a `timeout` option with zoid: https://github.com/krakenjs/zoid/blob/9d99ab78697428feaea6f6e3358deeff2d441da3/src/component/props.js#L35. Can you try passing it when you render the component? Here's an example:

[code]

<img width="859" alt="Screen Shot 2020-07-2

[2020-07-27 22:02] SunilJamkatel opened #318 "object deconstruction not working in ie11"
Hi, the widget.js file I created contains props with validation. When IE tries to load this script file in the parent, it gives a SCRIPT1010: Expected identifier error,

It seems to be pointing to the argument deconstruction on the following code
`validate: function ({ value, props }) {`

any way I could make this work for IE? Thanks!

[2020-07-28 12:08] zomaish commented on #317
@gregjopa thank you for responding. This timeout prop has to do with component rendering and seems to be a bit different than the error that I'm getting. The error that I am getting is related to this code https://github.com/krakenjs/zoid/blob/master/dist/zoid.frameworks.js#L2632 which is hardcoding the timeout.
I think ultimately zoid.postRobot.CONFIG.ACK_TIMEOUT = 5000; is what I want, but it do

[2020-08-06 20:04] albernhagen opened #319 "IE11 Popup Issues"
Hello -- I'm working Zoid 9.0.48 and am testing a popup component in IE11.  Everything works great outside of IE.  I've also setup a bridge for IE that is serving correctly.  I can launch the component as a popup, however it seems to close immediately for some reason right after it's opened and the `.catch` handler of `render` is invoked by just saying `Window is closed`, even though no user actio

[2020-08-06 20:07] albernhagen commented on #319
I should note that the child window can redirect to any URL (even google.com) and the same behavior is exhibited.  I do see some `Access is denied` errors in my IE console, but I believe that might be related to some web component polyfill.

[2020-08-06 20:18] gregjopa commented on #319
@albernhagen thanks for reporting the issue. Do you have a demo you can share? Or some screenshots of the errors you're seeing in IE?

[2020-08-06 20:22] albernhagen commented on #319
Hey @gregjopa -- I guess this was a case of ask the duck!  When running my local server at `localhost`, IE11 was putting the site in intranet mode 🤦 .  The PayPal checkout elements guide helped me realize to check for it: https://developer.paypal.com/docs/checkout/troubleshoot/internet-explorer/.  Appreciate you following up so quickly!

[2020-08-06 20:22] #319 closed

[2020-08-06 20:32] gregjopa commented on #319
@albernhagen Good to hear you got it resolved! 😆 🦆 I'm glad the Troubleshooting IE doc was helpful.

[2020-08-06 21:31] gregjopa commented on #318
@SunilJamkatel IE 11 does not support [object destructuring](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment). You should be able to just take in an object as the params and pull out the values like so:

[code]

That should work for IE. Please re-open the issue if you still have troubles.

[2020-08-06 21:31] #318 closed

[2020-08-07 10:12] gutisalex opened #320 "Typescript support"
hey, is there any chance you are providing type definitions for this awesome library? ;) I know you have flow running in there but I'd like to use this in a ts library and I am not confident enough to write my own type definition files yet! KR

[2020-08-07 10:35] mnicpt commented on #320
@gutisalex This is on our backlog and are looking at this now across all of krakenjs.  Thank you for reaching out to us.

[2020-08-07 10:35] #320 closed

[2020-08-11 17:09] figalex commented on #89
Is there currently a way to prevent a popup from being destroyed when parent is reloaded? We are trying to open a separate widget in a popup window that needs to persist while the user is navigating through different pages under our domain but as soon as the main (parent) page is reloaded or user clicks in a new link the popup is destroyed.

[2020-08-17 11:39] gutisalex opened #321 "Question: Buttons like in Paypal integration"
I just have a question on how you made the buttons integration on paypal. As far as I understand you are using a zoid component (buttons) to render an iframe which holds the smart buttons. And when clicking on one of the buttons you are using another zoid component (checkout) to load the checkout page from paypal in a popup.

So do you use a simple button page on your app page (I found out the url

[2020-08-18 19:49] figalex commented on #285
@ziyadparekh did you ever figured out this piece?

[2020-08-18 22:23] NerdCowboy opened #322 "Send updated props to child"
When a props changes at the parent level, I want to update the props that I'm sending to the child.

The docs don't seem to cover this, but after trolling through the issues and source code, I found that there's the method `updateProps` at the parent level and it appears that using the `window.xprops.onProps` method at the child level should detect any changes sent through `updateProps`, but I can

[2020-08-19 03:51] bluepnume commented on #322
Hi @NerdCowboy -- I added a demo of this here:

http://krakenjs.com/zoid/demo/advanced/props/index.htm

I'm not sure what's going wrong in your case -- but here you can try changing the email on the parent page and have it reflected in the child.

[2020-08-19 03:54] bluepnume commented on #321
Hi,

In the PayPal case, the button iframe is actually calling `Checkout({ ...props }).renderTo(window.parent)` to get the component to render on the parent page.

jsx-pragmatic is only used for rendering the html of the button -- it doesn't handle any of the iframes or interactions.

Zoid -> rendering iframes and popups, dealing with props and communications between those
JSX-Pragmatic -> renderi

[2020-08-19 08:11] gutisalex commented on #321
Hmm ok, but is there a html file for the button iframe as a child somewhere to render the buttons (like in the dev demo) or is the whole button container made with zoid and jsx-pragmatic?

[2020-08-19 15:10] NerdCowboy commented on #322
@bluepnume  Really appreciate you making a quick demo! Feel a little stupid as it's pretty obvious in retrospect—I didn't make a variable to render the zoid component, so I wasn't referencing the same instance whenever I tried to trigger `updateProps`.

Hopefully this helps anyone that runs into the same issue:

If I store MyComponent as a var like the example and use the `updateProps` method on t

[2020-08-19 15:10] #322 closed

[2020-09-11 06:08] apuntovanini commented on #108
@bluepnume I do love Zoid, but with no changelog is so difficult to understand what's going on. Why not using @changesets or automatic changelog generators? Open to PR?

[2020-09-11 06:43] bluepnume commented on #108
Hi @apuntovanini — definitely open to PRs!

[2020-09-15 06:53] nehapatwardhan6490 commented on #301
@mnicpt has this been release? I am still seeing this issue in version "9.0.54". validations in the prop is not getting called on creation.

[2020-09-15 15:40] mnicpt commented on #301
@nehapatwardhan6490 Yes, this has been released. https://github.com/krakenjs/zoid/blob/f9099ca17102a90e24d9b13dcaf0ae9b7655db3f/src/component/props.js#L175 Can you open another ticket regarding your issue with the details as this issue was more about removing the `debug` conditional.

[2020-09-30 18:04] ogulcantumdogan commented on #296
@ddenev is there any chance that you might share code on how you implemented Zoid for a Vue component? I need to sandbox a Vue component inside another Vue app due to clashing styles, but I am utterly confused by how to use the Vue drivers and make reactivity work smoothly.

[2020-09-30 20:01] ddenev commented on #296
@ogulcantumdogan, sure. First, I have to note that I'm using Zoid with an iframe (not popup).

On the parent side I create the Zoid Vue component and store it in Vuex with a code like (`createIframe` is a Vuex action):
[code]
Then I have a Vue component (in the parent app) that is a wrapper for my Zoid component. Here is the `<template>` part of this component:
[code]
here `iframe` is the actual Z

[2020-09-30 20:11] ddenev commented on #296
BTW, @bluepnume, did you have a chance to think on how to add this reactivity to Zoid?

[2020-09-30 20:22] ogulcantumdogan commented on #296
@ddenev

This is such a clever way to implement it, I never thought of utilizing Vuex and ran into so many errors.
Thank you very much, I really appreciate the effort you put through explaining it all!

[2020-10-02 21:37] mstuart opened #324 "Create TypeScript typings"
This project isn't written in TypeScript, but many TypeScript users would like to use published typings. For this issue, create TypeScript typings that cover the exported functions, and contribute it back to DefinitelyTyped!

This issue is great for someone who wants to learn more about TypeScript!

[2020-10-02 23:31] claeusdev commented on #324
I'd like to work on this.

[2020-10-02 23:44] mstuart commented on #324
All yours! Thanks @claeusdev!

[2020-10-07 02:47] mstuart commented on #324
Hi @claeusdev, still want to take this up? If not, let me know! Just wanted to give others a chance if you're busy.

[2020-10-07 03:16] claeusdev commented on #324
Hey, @mstuart I would like to take it up but I'm a little bit busy atm if there's someone available to take over sure otherwise I'll be able to work on it over the weekend.

[2020-10-08 02:06] anthonykhoa commented on #324
@mstuart I would like to work on this!

[2020-10-08 03:13] anthonykhoa commented on #291
Hi! Please assign me.

[2020-10-08 12:48] mnicpt commented on #291
You got it, @anthonykhoa !  Happy hacking!

[2020-10-08 16:45] anthonykhoa commented on #291
Hi @ouijan

I was wondering if you could tell me more about this issue. What package did you use that depends on zoid?

[2020-10-08 19:13] anthonykhoa commented on #291
Hi guys I made a [PR](https://github.com/krakenjs/zoid/pull/325/files) but it appears to be failing the CI test. I am getting this error:
<img width="744" alt="Screen Shot 2020-10-08 at 12 08 43 PM" src="https://user-images.githubusercontent.com/45890848/95502943-78503e80-095f-11eb-9a48-3bfabbc2f2df.png">
Can I have a suggestion of what to do?

[2020-10-08 19:59] musps commented on #291
@anthonykhoa Even the previous commit & test have this error (see the travis test from last commit https://travis-ci.org/github/krakenjs/zoid/builds/732794246)
its not your fault :p

[2020-10-09 00:18] anthonykhoa opened #326 "eslintignore file needs to include test/.eslintrc.js file"
The command that checks if files conform with `eslint` in the codebase checks the `test/eslintrc.js` file too. That file should go into the ignore folder or else this error occurs when someone runs the linter on their local machine,
<img width="578" alt="Screen Shot 2020-10-08 at 5 13 39 PM" src="https://user-images.githubusercontent.com/45890848/95527465-3be60800-098a-11eb-9501-ab6c07052d3d.png">

[2020-10-09 00:24] anthonykhoa opened #328 "Travis CI builds are failing"
The Travis CI builds are failing, with the error being
<img width="736" alt="Screen Shot 2020-10-08 at 5 24 37 PM" src="https://user-images.githubusercontent.com/45890848/95527786-29200300-098b-11eb-947d-ef5c4872307c.png">

[2020-10-09 15:51] #328 closed

[2020-10-09 16:14] #326 closed

[2020-10-09 16:21] #291 closed

[2020-10-09 18:29] anthonykhoa commented on #317
@mstuart please assign me! :)

[2020-10-09 18:41] anthonykhoa commented on #317
@mstuart please assign me :)

[2020-10-09 18:42] mnicpt commented on #317
@anthonykhoa Enjoy!

[2020-10-10 02:19] songz commented on #321
sounds like you got it @gutisalex ! Close issue?

[2020-10-10 19:40] anthonykhoa commented on #317
@mstuart @mnicpt I think this issue may have already been resolved. I have tried reproducing the error [here](http://zoid-demo.khoa.app/) but could not. In several places in the front-end code, I have this big blocking loop:
[code]
This big loop runs after someone clicks on the `startZoidDemo` button. I do not see any errors being logged, and have checked in browsers `Google Chrome` and `Mozilla f

[2020-10-10 20:08] anthonykhoa commented on #317
@mstuart @mnicpt I think this issue may have already been resolved. I have tried reproducing the error [here](http://zoid-demo.khoa.app/) but could not. In the child window, I have this big blocking loop:
[code]
The child window appears after someone clicks on the `startZoidDemo. I do not see any errors being logged, and have checked in browsers `Google Chrome` and `Mozilla firefox`. After the loo

[2020-10-11 22:54] greenc123 commented on #324
I have a question about this issue, are we using:
https://github.com/typings/typings

because it appears to be deprecated.

[2020-10-12 02:28] mstuart commented on #321
Thanks @songz! @gutisalex, if you're still seeing the issue, feel free to re-open it!

[2020-10-12 02:28] #321 closed

[2020-10-12 20:43] mnicpt commented on #317
Thanks, @anthonykhoa !  Appreciate all of your help!

[2020-10-12 20:43] #317 closed

[2020-10-14 01:18] anthonykhoa commented on #315
Hi @mstuart @mnicpt @bluepnume I have starting implementing a solution for this issue.
If merged, this is the first PR of 3 that I will make to solve this `support for sandbox attribute on iframe` issue:
https://github.com/krakenjs/cross-domain-utils/pull/19

If merged, my next PR will be for the `post-robot` repo to use the function made in the `cross-domain-utils` repo.
The last PR would be for

[2020-10-14 05:10] bluepnume commented on #315
I'm a little confused about this issue. I tried implementing a test page here: http://bluesuncorp.co.uk/icv4/frame-parent.htm

This shows `event.origin` correctly populated even though the iframe is sandboxed. What am I missing?

I have strong concerns about implementing any message acceptance logic which does not rely on domain checks. It's very easy for iframes to be redirected to a rogue domain

[2020-10-14 05:15] bluepnume commented on #315
Aaah, I see now. It only works with `allow-same-origin`.

That said -- I think adding `allow-same-origin` in this case is a lot safer than relaxing the iframe domain check. Otherwise this is a "robbing peter to pay paul" scenario. You gain some marginal extra security for your iframe, at the expensive of a huge loss of security for domain checks from any messages from the iframe.

[2020-10-14 05:20] bluepnume commented on #315
Also for what it's worth (FYI @anthonykhoa) -- zoid already does essentially check the `event.source` of any messages sent from the child window. Any functions which are passed from window->window using post-robot have that window check baked in; so adding a new check would be redundant.

https://github.com/krakenjs/post-robot/blob/master/src/serialize/function.js#L90-L94

Here is where that check

[2020-10-14 06:01] anthonykhoa commented on #315
Ah, thank you for explaining everything @bluepnume! I agree that the solution I implemented would result in a `robbing peter to pay paul` scenario -- using `allow-same-origin` would be safer than relaxing an Iframe check. I will close my PR

[2020-10-14 06:10] bluepnume commented on #315
No worries! Thank you so much for all of your hard work on these repos so far.

We should keep this issue open, regardless. I've been trying to think of alternate ways to solve this. For instance:

1. Receive a message from the frame with `origin: null`
2. Generate a secret UID
3. Send that UID to the frame with `domain: "<expectedDomain>"`
4. Receive a response with the same UID
5. If the UID mat

[2020-10-15 04:13] anthonykhoa commented on #264
Hi @mstuart @bluepnume @mnicpt I have taken a look at this issue.
[Click here](https://prerender-error.khoa.app/normal/zoid.html) to see a reproduction of the issue

After experimenting/digging around in the codebase, I have come to a hypothesis that the `prerenderFrame` is used for security-check purposes. Without the `prerenderFrame`, the security checks won't pass, and thus the iFrames will ren

[2020-10-15 04:24] bluepnume commented on #264
Hi,

The prerender template has very little to do with security - it's just to synchronously render some content (e.g. a loading spinner) while the main iframe loads.

I tested with `prerenderTemplate: null` and `prerenderTemplate: () => null` just now, and both seem to work for me. That has the effect of suppressing the loading spinner that zoid adds by default.

Seems like the issue from the ori

[2020-10-15 04:28] anthonykhoa commented on #264
Yes @bluepnume, it seems that the original report has been fixed already.

[2020-10-15 04:35] bluepnume commented on #264
Aha! I missed your note saying "then I think this issue should be closed". Will close it now, thanks again!

[2020-10-15 04:35] #264 closed

[2020-10-15 18:47] anthonykhoa commented on #264
@bluepnume question: `container.appendChild(prerenderFrame)` <-- why is this line necessary? why does it have to be done in addition to `container.appendChild(frame)`? My digging has led me to this file:
https://github.com/krakenjs/zoid/blob/master/src/parent/parent.js#L756

That seems to be a file where lots of magic involving the `prerenderFrame` and `frame` is done

[code]

[2020-10-15 20:15] mnicpt commented on #264
Hey, @anthonykhoa! @bluepnume is taking some time off for the next two weeks for some much deserved down time.  I can help you though.  I’ll take a look at this in the morning and hopefully be able to answer your question.  Really appreciate all of your help!

[2020-10-15 23:18] anthonykhoa commented on #264
Awesome! I appreciate the help @mnicpt!

[2020-10-20 16:12] sambeauvois opened #332 "iframe height issue"
Hello,
I'm using the last tag of zoid and I think I'm using it correctly.

I took the code of the zoid.iframe.min.js file and copied it in a file
In this file I added this code

[code]
I referenced this file in my widget page and in my "parent page"

in my parent page I added
[code]

My problem is that I always have a vertical scrollbar (tested in chrome, firefox and edge)

![image](https://user-i

[2020-10-21 04:23] mstuart commented on #317
Thanks @anthonykhoa ! :D

[2020-10-21 13:55] sambeauvois commented on #332
I just noticed that if I add the css rule

[code]
In my child page (in my widget)
It's working

I think this should be part of the documentation

[2020-11-10 08:05] r0stig commented on #264
To clarify: this issue asks the same question as @anthonykhoa, I came up with the same workaround as you but the question is why the prerenderFrame has to be included in the DOM when it's not used. I just tested with the latest version and the issue is the same.

[2020-11-12 10:17] longpham2805 commented on #278
Hi @r0stig, did you found something about this issue?

[2020-11-12 10:23] r0stig commented on #278
@longpham2805 Sorry no, we still get this in production every now and then and I haven't found out much more. Since it only seem to be affected to idle clients the issue isn't critical for us, but I still would like to solve it.

[2020-11-12 10:29] longpham2805 commented on #278
Thanks, @r0stig, I got the same issue but no clues to figure out the reason.

[2020-11-12 10:32] r0stig commented on #278
@longpham2805 if you could describe your setup and when you get the error we might get closer to a solution.

[2020-11-13 02:25] longpham2805 commented on #278
@r0stig I created a widget and it's used on the other sites, but sometimes the bugsnag catch that error, and I can't reproduce it. So I don't have any clues for it.

[2020-11-16 10:00] lubosdz commented on #251
See also [here](https://github.com/Luehang/react-paypal-button-v2/issues/30#issuecomment-568018672).

[2020-12-15 12:19] mayankmx commented on #294
@manishajmera can you please post detailed steps on how you resolved the issue, I am facing this same problem

[2020-12-16 11:37] MortyPAA opened #333 "popup window closed manually"
Hi guys,
I have a problem handling the manual close of a zoid popup window. The scenario:
- i have a component open as popup
- user clicks on window close button
- onClose is triggered, i get the event, no problem here
- i want now to be able to open again the same component but i cannot.
   -  If i try to render again that component i get an error: **Uncaught Error: Window closed**
   - If i try

[2020-12-17 12:39] MortyPAA commented on #333
Found the problem. It was on my end, sorry for raising this. Will close it.

[2020-12-17 12:39] #333 closed

[2020-12-22 16:46] id717890 commented on #296
Hi! Can you provide full code?
I am curiouse about handleEvent func.

[2021-01-06 23:57] tmilar opened #334 "Removing the react container component after close() or destroy() results in error"
Hi, I've running into this trouble and I couldn't sort it out.

I'm using React v17.

* I'm opening an HTML modal, which instantiates and renders a Zoid component, as an _iframe_.
* Click on the background to close it, which runs: `zoidComponent.close()` to clean it up.

If enough time has passed in between, so the iframe loaded and rendered properly, this results in no errors ✅

**But**  if I clo

[2021-01-07 06:15] tmilar commented on #334
I've found out about this `overrides.onError` (internal?) method. But seems to be no way of using that  from userland..

on [src/parent/parent.js](./src/parent/parent.js):

[code]

Now, when using 'zoidComponent.render()', it's possible to catch errors by adding a `.catch()` like so:
[code]

But, for the react driver, it seems to not be possible to do that.
See the driver logic below.

on [src/dri

[2021-01-07 15:04] mnicpt commented on #334
@tmilar Thank you for bringing this up.  We have also run into this with our Smart Payment Buttons and needed to give time for the container to be rendered as you have mentioned above.  I would recommend setting a delay before calling `onClose` like the following:
[code]

Please close if this works for you.

[2021-01-07 15:13] mnicpt commented on #332
@sambeauvois Sorry no one has had a chance to respond to this.  Do you have a link to this demo?  I am curious to how the container is styled and any containers around it.

[2021-01-07 15:19] mnicpt commented on #298
I am closing this do to inactivity and a provide solution.  If the solution above does not meet your needs, please reopen and assign to me.  Regards.

[2021-01-07 15:19] #298 closed

[2021-01-07 15:20] mnicpt commented on #295
Thank you @vlopez for reponding.  Closing this issue.

[2021-01-07 15:20] #295 closed

[2021-01-07 15:22] #293 closed

[2021-01-07 17:53] tmilar commented on #334
Hi @mnicpt , thanks for your quick response.
The workaround of explicitly wait for a timer before actually calling the `onClose` callback, might work.

But the problem I'm seeing with that is that it wouldn't feel like a good UX for the user to have to wait an extra arbitrary timer each time it wants to close the modal.
Also, there is the possiblity that an explicit timer might not be enough in so

[2021-01-08 19:56] gregjopa commented on #334
Hi @tmilar, I was reviewing your implementation and was wondering if you could solely rely on the zoid close() function for cleaning up the DOM instead of having the React component do it. Ex:
[code]

The zoid close() function should be responsible for removing the DOM of the zoid component. There are some MutationObservers being used with zoid and and calling `close()` cleans everything up proper

[2021-01-08 23:58] bluepnume commented on #334
I really like the idea of using React error boundaries. If anyone wants to take that up, that would be awesome.

I'm also debating, should we just make `close()` resolve the initial render promise, if it hasn't already been resolved? The initial thinking was, if the asynchronous render does not succeed for ANY reason, reject the promise returned by render (which causes an error in the console if i

[2021-01-09 21:19] tmilar commented on #334
Hi @gregjopa, thanks for your reply.

Regarding this:

It could be possible, but I'd prefer my shared component to have as less limitations as possible. I'd like to allow the option to a remote site of which I might not know anything about, to just remove the component from the view and not have any uncaught errors.
I've read even of some frameworks / tools that are quite aggressive by removing/re

[2021-01-09 21:27] tmilar commented on #334
@bluepnume
I think a fair solution would be having the `render()` async result be included in the react render cycle, and have it fail in a more manageable way.
This would result in giving options of handling the error, such as using an ErrorBoundary around the zoid component to manage it.

Now, regarding this:

-> I'm not very fond of the implementation details. Inspecting the logic I couldn't un

[2021-01-09 21:46] bluepnume commented on #334
I think that's a fair ask.

So: when you call `render()` for a component, because rendering is asynchronous, zoid returns a promise. We have to make a decision at some point, regardless of what happened, do we:

a) Resolve the promise
b) Reject the promise (which, if unhandled, results in an error creeping into the console)
c) Leave the promise unresolved

This is normally a simple decision. If th

[2021-02-03 09:31] valentinludu opened #336 "Validate prop doesn't work"
Hi,

I tried to use validation for a prop but it does not work. Seems like validate method isn't called at all. No error is thrown.

Using Zoid version 9.0.63.

[2021-02-13 00:11] sea-chowders commented on #336
I am also experiencing this issue.  I am using zoid 9.054  Here is a snippet from my create call where I provide some validation for a prop :

props: {
    someProp: {
      type: 'number',
      validate: ({ value, props }) => {
        console.log(value, props);
        throw Error('Bad Prop');
      }
    },

I am also not getting any errors or seeing anything in the console.

[2021-02-17 23:31] ogrotten commented on #293
@dchersey  Your example react component file is great thank you for that.

What does the file with the `<iframe>` look like? I'm having a problem nailing down any syntax that's needed to show the desired component.

* What url/script is included in the head?
* Is there an actual `<iframe>` element, and if so what attributes does it need?

Thanks again.

[2021-02-18 00:14] ogrotten opened #337 "Most basic setup documentation?"
I'm looking at https://github.com/krakenjs/zoid/blob/master/docs/example.md

The top codeblock referring to `MyLoginComponent`, where exactly does that codeblock go?

Further, is there an extremely simplified example available?

* the minimum required for making a component available (just showing some text)
* the minimum required to embed the component to an html page

[2021-03-03 12:11] rickyH commented on #67
We have exactly the same issue and end up string replacing the check in the bundle to allow subdomains. It's a hack we wish we didn't have to do.

Essentially the iframe initially points to:
account.x.com/authorize (Which is IDS4) This redirects to authentication
x.com/sign-in (This page hosts the ZOID scripts) Once authentication is completed we redirect to account.x.com/authorize
account.x.com/a

[2021-03-26 15:49] timbohemendinger opened #338 "Angular app - Stacktrace: Error: Request listener already exists for zoid_allow_delegate_payment_widget on domain * for wildcard window"
Hi,

I'm working on an Angular app with a Zoid implementation where we have Angular creating the parent zoid widget and the iframe content is coming from a different domain. Everything works well aside from when you navigate away from the component that contains our Zoid widget, and then navigate back to it. The error:

 _Stacktrace: Error: Request listener already exists for zoid_allow_delegate_p

[2021-03-26 15:56] timbohemendinger commented on #333
Hi @MortyPAA, I'm having the same issue. Could you share how you resolved this? Thanks.

[2021-03-26 16:09] timbohemendinger commented on #338
Ok, I figured it out, seems so obvious now--but I wanted to post the solution here in case it's not the best way to go about this (or if it'd help anyone out in the future):

[code]

Now the component can be navigated away from and then can be navigated back to without the issue.

[2021-03-31 22:50] r-vasquez commented on #337
The codeblock referring to `MyLoginComponent` usually goes in a js file and the url property is referring to the html that you want to embed in the parent page (the Iframe or Popup).

Basic example:

**zoidComponent.js**:
[code]

**parent.html**:
[code]

**child.html**:
[code]

You can see it running: https://codepen.io/r-vasquez/project/full/AnLRmm
Or github: https://github.com/r-vasquez/zoid-bas

[2021-04-12 18:44] kimutaiRop commented on #252
@russelh15 I have the same problem can you please be clear on how you did it?

[2021-04-12 18:50] russelh15 commented on #252
@kimutaiRop I can't remember exactly what i did, but it was something about the scripts not loading in the correct order. There was a race condition happening, so be sure load your scripts in the correct order.

Sorry I could not provide a detailed answer, this was a long time ago and I forgot the context of the project.

[2021-04-16 01:38] swatghc commented on #297
Any updates? Just noticed chrome 90 will rename Feature Policy is to Permissions Policy in [here](https://developer.chrome.com/blog/new-in-chrome-90/#permission-policy), I have a geolocation call inside the iframe, and it's not working anymore, the error message now is `Geolocation has been disabled in this document by permissions policy.`

[2021-04-27 15:53] timh770773 opened #340 "Capturing the `rendered` event without changing the prerenderTemplate or containerTemplate"
Hi, for my application I need to carry out some logic once my Zoid form has rendered. However, I don't need to change anything as far as the `prerenderTemplate` or the `containerTemplate`--what I have now is fine. Is there anyway to listen for the `render` event without changing these? Here's what I have now, as you can see I'm using the `prerenderTemplate`:

`// Initialize the zoid instance
this.

[2021-04-27 18:57] bluepnume commented on #340
Hi,

Would it work just to wait on the render promise?

[code]

[2021-04-27 19:53] timh770773 commented on #340
Ha, wow, I can't believe I didn't catch that render returns a promise. Worked like a charm. Thank you!

[2021-05-03 03:56] singhnabin opened #341 "Could not able to pass props to the child component on initial load."
I am using react in my frontend application and trying to pass down the props to the child component . However, I am not able to pass the props on initial load. On initial load, xprops on the child component is coming as empty object. And when I refresh the page, I am able get all the props on the child component. I am using zoid version @9.0.43 and my chrome version is 89.
What could be the issue

[2021-05-04 18:17] imrishabh18 commented on #324
Is this issue still open @mstuart ?

[2021-05-05 21:20] opolo opened #344 "Possibility of loading Zoid component script async? (And execute code inside script after it loads?)"
Hi there!

Thanks for an awesome library! Iframes gave me a headache before.... And kinda still do, but way less now!

**Two perhaps quick questions about Zoid:**
1. Does it make sense to load the Zoid script async for better performance on client websites? (I believe so, but might miss something)
2. Why does Paypal not load their buttons (that uses Zoid) async?

**Idea:**
I can see in the Zoid de

[2021-05-10 15:41] fryck commented on #317
@anthonykhoa

It seems not fixed, I got this error reported in our sentry (a lot) but I'm not able to reproduce it on my development environment (latest version of zoid) what can cause this issue ? I'm really confused.

[2021-05-12 01:32] catchanuj opened #345 "third party cookies on Safari (first party cookies in cross origin iframes)"
Hey all,

When hosting your content on a third party website inside of an iframe, all cookies are treated as third party cookies and Safari does not handle these properly by default.

Can anyone point me to a workaround for handling third party cookies in Safari without prompting the user for enabling cookies in their browser? I want to avoid the behavior that [Web Storage API](https://html.spec.w

[2021-05-12 01:33] catchanuj commented on #345
cc @bluepnume

[2021-05-12 01:41] bluepnume commented on #345
There's no good way to get around cookie restrictions in javascript. The best you can achieve is store data in the parent page in localStorage, and automatically pass it down in props.

[2021-05-12 01:42] bluepnume commented on #344
You can configure them to be async, if you like -- but for UI components it often makes sense to have them render as soon as possible, for critical elements on the page.

[2021-05-12 01:42] bluepnume commented on #341
Weird. Can you check the `window.name` value in the iframe?

[2021-05-13 19:36] timh770773 commented on #160
Just ran into this. This should probably be added to the API docs... in the docs currently it looks like example just calls for adding a div without enclosing it in an html tag.

[2021-05-14 20:11] ramsinitus opened #347 "AutoResize not working correctly"
Hi,

first of all, thanks for the great library!

At our startup, we are trying to use ZOID for reliably embedding applications on the websites of clients. So far everything seems fine, **except adjusting the height of the widget based on its content**. I am using the following options on the parent component:

[code]

and the following options on the child component:
[code]

Am I doing something

[2021-05-18 17:02] timh770773 opened #349 "Error handling and EVENT.error"
I'm working on accounting for any potential errors that might get thrown in my application. I see there's an `EVENT.ERROR` listener you can use in the prerenderTemplate. If I don't have any logic that will manually trigger this event, do I need this, if I'm already catching errors on the widget's `render` call? I noticed that if I manually throw an `EVENT.ERROR`, it ends up getting picked up in th

[2021-05-19 13:12] mnicpt commented on #349
@timh770773 Hope you're enjoying zoid!  It looks to me that you don't need the EVENT.ERROR listener.  We set this up internally and when this event is fired, if you have implemented the `onError` prop, which you have, we will delegate to it.  Also, I don't think you need to catch off of render, as any errors should also be picked up by the `onError` callback.  For the `EVENT.RENDERED`, you may wan

[2021-05-24 11:43] mdervel opened #350 "Back navigation in the child browsing context (iframe) closes the component"
Hi, I've running into this trouble and I couldn't find any possible solution.

**Scenario**:

- 	User opens an HTML-page, which instantiates a Zoid component as an iframe.
- 	User opens some links inside the iframe (top-level browsing context and his history still the same, but iframe's browsing context and his history are changed)
- 	User clicks browser's button "back" and zoid.js closes componen

[2021-06-08 07:26] silocory opened #352 "paypal"

[2021-06-09 20:16] marcoadasilvaa commented on #350
Same error here, somebody can fix?

[2021-06-10 09:57] gregeatworld commented on #350
Same for me. I've fix it by remove that event listener for "unload" (https://github.com/krakenjs/belter/blob/502a7377a65ca4f64580bfeb110bc4b675b390aa/src/dom.js#L960) and re-build zoid from sources (`npm run clear-dist && npm run webpack -- $@`). But this only temporary measure.
And I plan to fix it in proper way ASAP.

Extra info regarding unload event:
https://web.dev/bfcache/#never-use-the-unlo

[2021-06-10 12:07] #352 closed

[2021-06-12 18:53] mrudult commented on #347
We were also facing the same problem. Could never get the `autoResize` property to work properly. So instead, we now set the `height` and `width` explicitly by passing a `function` prop from the parent and using an observer in the child.

Passing the below function as a prop to the child iframe:

[code]

We use react in our child iframe. So we use [react-measure](https://github.com/souporserious/r

[2021-06-21 14:40] mnicpt commented on #334
@tmilar Looks like you have a flow error. Any update on when you may have tests for this?

[2021-06-21 14:42] mnicpt commented on #349
@timh770773 Did the feedback help you?

[2021-06-21 14:43] mnicpt commented on #332
@sambeauvois Were you able to resolve?

[2021-06-28 16:25] timh770773 commented on #349
@mnicpt I'm so sorry for the delay, I'd had some trouble getting back into my account before this. This was very helpful and solved my issue! Thank you so much.

[2021-06-30 16:21] #349 closed

[2021-07-01 00:41] jasan-s commented on #253
@bookRa  I watched the video and read tutorial but unclear as to how exactly would i import the app using script tag. you seem to just copy the `MyWidget.js` in the parent.

What I need to do is the following:

create a zoid component for a specific route in React App A, and then use <script> tag in another Single Page Application (SPA) call it App B (which could be any framework based) to load an

[2021-07-01 01:47] jasan-s opened #353 "removing scroll bard on load"
all the demos and my own implementation shows scroll bars on initial load of iframe, is it possible to hide the scrollbars?

scroll bars should not render if the content not not exceed the iframe

[2021-07-01 10:33] jasan-s opened #354 "Auth param check on multiple components"
I'm building a SDK using zoid, and unclear as to how I can secure multiple components with a auth , i.e check if provided apikey is valid. Instead of adding required prop for each zoid component I wanted to globally check apikey and/or other params before allowing the zoid component rendering on the parent.

[2021-07-02 04:42] alexCalispa commented on #338
Hello, I have a similar error, would you give me a help, rather guide me please

[2021-07-07 12:05] Olex93 commented on #133
Hey, I can see that this issue has been closed with a fix, but the fix doesn't seem to have been included in later releases. I'm using "zoid": "^9.0.69", and the code in the fix isn't totally relevant to the file I find in src/drivers/react... Has anyone got a working fix for the latest version?

[2021-07-09 04:24] jasan-s opened #355 "opening in a modal popup instead of new window"
Is it possible to open zoid component in a popup modal instead of using new window.

[2021-07-13 09:20] eugsch commented on #336
Any progress, solution on this?

[2021-08-02 16:41] RavenColEvol opened #356 "How can we pass React Component as props?"
I'm trying to create a Modal component with zoid.
I'm trying to do it by Render Props method where I've created a zoid element which takes children function like
[code]
But what I'm getting in xprops is ZAlgoFunciton which is not what I wanted.

I'm still new to this library i tried finding solution but was unable to find one.

[2021-08-02 18:24] akshay-8d66 commented on #336
@bluepnume This is a modified version of the demo app to show the problem. An invalid email is passed [here](https://codesandbox.io/s/peaceful-solomon-f2sh9?file=/index.html:913-989). [This validation](https://codesandbox.io/s/peaceful-solomon-f2sh9?file=/login.js:484-614) is expected to trigger an error but doesn't get called.

Thanks!

[2021-08-06 23:09] #354 closed

[2021-08-07 00:06] jasan-s commented on #261
i get the following error :

[2021-08-07 17:37] jasan-s commented on #289
@SunilJamkatel  is there a way to detect if zoid component opened in popup or iframe mode? to only render the conditional overlay on popup

[2021-08-07 18:09] jasan-s opened #359 "unexpected results using containerTemplate"
Im trying to use containerTemplate to render semi-transparent overlay when component opens in popup mode:

when context mode === "popup"

the containerTemplate seems to work fine: see screen shot

<img width="1675" alt="Screen Shot 2021-08-07 at 10 59 27 AM" src="https://user-images.githubusercontent.com/13863953/128609752-936af3fe-6e5a-4d63-a27a-52435c2fd2d1.png">

**THE ISSUE:**
when the context

[2021-08-09 16:21] jbpadilha opened #360 "xprops undefined"
Hello

I'm facing an issue with xprops passed down to a Zoid using a cross-domain.
For some reason xprops has not been passed down. Does anyone have any thought ?

**Zoid Component:**
import * as zoid from 'zoid/dist/zoid.frameworks';
import { PUBLISHER_URL } from '../config/config';

`const ZoidComponent = zoid.create({
  tag: 'Trips-Publisher',
  url: getUrl(),
  containerTemplate: function cont

[2021-08-09 23:32] jbpadilha commented on #283
Any news about this issue? I'm fighting against this problem as well

[2021-08-10 00:33] jasan-s opened #361 "using document.referrer to secure iframe"
currently i'm using `document.referrer` to enforce if zoid component is loaded in the an approved list of parent domain.

Is this method secure? or is there a better process to secure zoid iframe to work only on approved list to domains.

[2021-08-10 02:27] bluepnume commented on #361
I would recommend:

1. Use `allowedParentDomains`: https://github.com/krakenjs/zoid/blob/master/docs/api.md#allowedparentdomains-string--arraystring--regex
2. Set the `frame-ancestors` CSP header: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors

[2021-08-10 02:34] jasan-s commented on #361
@bluepnume  the allowed domain list needs to be dynamic, i.e the each user using the SDK will add list of approved domains and based on the user API key the check against the approved domains list will be conducted

[2021-08-10 02:36] bluepnume commented on #361
Sure -- both of those options should support a dynamic array of domains right?

[2021-08-10 02:44] jasan-s commented on #361
I'm unclear how I can set `allowedParentDomains`  based on the domains list retrieved in the child using the user identifier passed in as prop to the zoid component

[2021-08-10 02:59] bluepnume commented on #361
Sure, so you could:

1. Define the user identifier as a prop with `queryParam: true`
2. On your server, use the user identifier passed in the query string to look up the domains
3. Pass the domain list to your client side, in the iframe
4. Call `zoid.create` and pass the array of domains in as `allowedParentDomains`

[2021-08-10 04:17] jasan-s commented on #361
First 3 steps are clear to me.

However my current implementation is that the zoid component is created with zoid.create on js sdk that is hosted on url like so `js.myapp.com` , the zoid component uses url from a different domain i e `child.myapp.com` then the `parent.userapp.com` loads the js sdk and calls render on the component.

In this configuration, how can I call zoid.create on the child? C

[2021-08-10 06:43] jasan-s commented on #361
@bluepnume  one more thing. I notice you are using [`cross-domain-utils`](https://github.com/krakenjs/cross-domain-utils) in this lib, I initially tried to use `getDomain(getParent())`  from `cross-domain-utils`  to get the domain of parent originally but cors error is thrown.  this is how i ended up resorting to `document.referrer`.

[2021-08-11 07:14] jasan-s opened #362 "component.render() does not work after calling component.close()"
After component is rendered if i attach onClick to button to invoke `component.close()` the component is removed however after it , if i try calling `component.render('#comp-id')` nothing happens

[2021-08-11 07:17] jasan-s commented on #359
anyone able to containerTemplate to create an overlay successfully without issues on `iframe` context mode? Im a doing something wrong?

[2021-08-11 07:43] PandasProperty opened #363 "Backwards compatibility"
Hello,

I have the following scenarios: When parent opening the child, if the parent and child have different versions (only the patch can be different), zoid throws an error.

I've tested the scenarios where parent has bigger version than the child, equals, or less.

<img width="604" alt="Screenshot 2021-08-11 at 10 37 24" src="https://user-images.githubusercontent.com/7041061/128989120-b6af3d4a-

[2021-08-11 08:52] fuzzmz commented on #363
Seems related to #225 / #307

See also [this comment](https://github.com/krakenjs/zoid/pull/307#issuecomment-706314798)

[2021-08-12 08:35] mdervel commented on #350
Hi @bluepnume . Is there any chance that you will fix it in near future?

[2021-08-12 13:52] TotallWAR opened #364 "Doc missing using with SSR"
Hi!

I've found an [issue](https://github.com/krakenjs/zoid/issues/260) about SSR and it's said that ZOID can be used for server side rendering there.

But how to get initial props from parent window on server side? There is not window object of course. The only one method is to extract it from iframe url.

I'd happy you add more info about zoid and ssr to docs.

[2021-08-18 16:41] UsAndRufus opened #366 "Bug: Zoid erroneously says container element removed from DOM when modifing HTML body"
Here's a bug I found.

1. Import Zoid
2. Modify `document.body`, eg `document.body.innerHTML += 'test'`
3. Render a Zoid component into a container element (_not_ the default of `document.body`)
4. Component does not render, gives error `Uncaught Error: Detected container element removed from DOM`

So, modifying the document body makes Zoid fail to render, even though it is modified before the cal

[2021-08-19 01:33] jasan-s opened #367 "how to pass context into xprops"
is it possible to detect if component rendered in `iframe` or `popup` in the window.xprops ?

In my scenario  i want to close the `popup` after some successful action trigger.

[2021-08-19 01:34] #359 closed

[2021-08-21 20:58] jasan-s commented on #361
@bluepnume  if I try to make a server **async** call to retrieve `authorized_sdk_domains` using the  user identifier and then return
[code]

  i get an error

[2021-08-21 21:24] jasan-s opened #368 "render iframe lightbox"
Demo folder only contains iframe and popup directories now, I wanted to render iframe in a lightbox. is there a demo for rendering iframe in a lightbox that is compatible with current version of zoid?

[2021-08-22 07:38] #362 closed

[2021-08-22 07:38] #355 closed

[2021-08-22 10:35] jasan-s opened #369 "using async logic to set allowedParentDomains"
I want to set `allowedParentDomains ` dynamically after making a server call.

if I try to make a server **async** call to retrieve `authorized_sdk_domains` using the  user identifier and then return
[code]

  i get an error

  it seems the zoid create must be returned without async call.  how exactly can i accomplish this ?

  Thought id open a new ticket. linked to https://github.com/krakenjs/zo

[2021-08-22 10:45] #368 closed

[2021-08-23 14:42] RavenColEvol commented on #347
I'm also facing the same issue. For solving it I'm using ResizeObserver in child and passing a post message to parent to resize itself.
Few days back i tried something and resizing was perfectly without any resize observer but again it stopped working.

[2021-09-08 16:27] nodeworks opened #371 "Catching errors on framework (react) component?"
Hello,

I was wondering if the onError handler is something that was implemented on the framework components. I'm using React and it works well however I tested not passing a required prop through the React component and I received the following error:

![Screen Shot 2021-09-07 at 11 11 36 PM](https://user-images.githubusercontent.com/5272855/132548106-a238c709-cc6c-4f2b-a307-904451ddeb17.png)

[2021-09-13 06:19] RavenColEvol commented on #356
Is there any way to share components between Parent and Child ?

[2021-09-15 09:22] fryck commented on #278
Same for me, it seems to not affect end user, but, it's a very verbose error in our sentry dashboard... I can't reproduce this issue as well

[2021-10-04 01:39] rafaeelaudibert commented on #108
Hey @bluepnume, would you assign this to me? I think we could create the CHANGELOG differently than what was proposed before. I'd use a Github action to create it so that every time we create a tag, we would automatically generate a Github Release with its changelog. WDYT?

I'd probably use [this](https://github.com/marketplace/actions/release-changelog-builder) action.

[2021-10-04 16:25] mstuart commented on #184
Fixed w/ https://github.com/krakenjs/zoid/pull/365

[2021-10-04 16:25] #184 closed

[2021-10-04 16:27] mstuart commented on #324
Sorry for the late reply @imrishabh18. I think so! I don't see any zoid typings in the DefinitelyTyped repo, so it seems to be open.

[2021-10-06 16:40] pramodrhegde commented on #324
@mstuart If it's still open can you assign this to me? let me take a shot at it. thanks!

[2021-10-10 05:11] sibiraj-sr commented on #108
Or may be this. https://github.blog/2021-10-04-beta-github-releases-improving-release-experience/

[2021-10-11 14:51] dagjaneiro commented on #360
I'm having the same issue. I believe it's a bug introduced in `9.0.80`, it started happening to me since I upgraded.
It works fine for me with version `9.0.78`.

[2021-10-13 00:52] theKashey opened #374 "Zoid breaks OneLogin: window.open might be called without arguments"
Having code
https://github.com/krakenjs/zoid/blob/89d3ee171a0cce270de5e27d96dfd8c98cec1bbc/dist/zoid.frameworks.js#L1888-L1889

which calls via `normalizeMockUrl`
https://github.com/krakenjs/zoid/blob/89d3ee171a0cce270de5e27d96dfd8c98cec1bbc/dist/zoid.frameworks.js#L694-L696

causes a runtime exception in the valid client code (OneLogin) as `url` is `undefined`
[code]

Probably `normalizeMockUrl`

[2021-10-15 19:19] rafaeelaudibert commented on #108
I've thought about using this @sibiraj-sr, but it is pretty new, and it would need some manual work, with the maintainers needing to manually create the release.

@mstuart, could you check the PR? #373

[2021-11-04 10:11] hnoson commented on #353
`scrolling` attribute is deprecated. I tried to resolve it using CSS, but the following didn't work since it needs to be applied to inner element like \<html> or \<body>.
[code]
The issue is due to the margin added to body by browser. We should overwrite the margin or change the spinner size.

[2021-11-05 23:31] thomasia2 opened #380 "Sungage 18 month zip not auto-applying?"

[2021-11-05 23:32] #380 closed

[2021-11-12 17:38] mrudult commented on #133
Same issue. Doesn't work with zoid@9.0.82 and React@16.0.7. Adds an extra `div` wrapper that doesn't have any styling (width=0) and thus isn't displayed.

@Olex93 I used the `render` instance method of the `Component` to render it manually:

[code]

[2021-11-13 18:32] Olex93 commented on #133
Thanks @mrudult - I ended up doing something similar. For anyone experiencing this issue that’s looking for a workaround, I just built the widget with create-react-app, changed the ID of the div that React builds the application inside of away from ‘root’ to the name of my widget. I then used Parcel to build the project into just one Js and one css file. Host the Js and Css file anywhere, I went w

[2021-11-24 15:41] badeAdebayo commented on #334
any update on this issue? @bluepnume i see this error every time i click the back button before the iframe finishes loading

[2021-12-08 19:04] mike-robertson-fast commented on #324
Any updates on this effort? I believe there are several tools which exist to create `.d.ts` files from flow types, though I don't know if any are up to date/well maintained.

[2022-01-21 23:01] akshay-8d66 opened #385 "Is there something in zoid for child components to communicate with each other?"
Is there something in zoid for child components to communicate with each other?

My usecase is that I have two zoid components. I'd like one component to do something based on an event in another component. I was wondering if there is anything in zoid to support such a usecase? Or common used external patterns to do this.

Can the zoid [event emitter](https://github.com/krakenjs/zoid/blob/master/d

[2022-01-26 00:09] #385 closed

[2022-01-27 19:59] katevoss opened #387 "Hide spinner after captcha loads"
Hello!
Longtime reader, first time poster.

We have a 3rd party embedding our page in their website with zoid. We have spam protection on our host (CloudFront) to prevent bot attacks and suspicious activity, though sometimes it catches a valid request. When the security protection catches a suspicious request, it fails with a 403 error status and the user is presented with a captcha. Once the capt

[2022-02-10 17:05] vinod2001 opened #388 "Would like to know any limitation on data passing from Zoid to react."
I am working on GWT to React migration project. on the current scenario existing design(GWT) loaded into Zoid and presenting inside React wrapper. The plan is to pass the events to Zoid from React and trigger the events inside GWT. Since the migration is planning for module by module Data passing from Zoid(GWT) to React might be huge. Would like to know any limitations are there on this data passi

[2022-02-22 09:26] artmanque opened #393 "driver.register does not pass down context to frameworks"
As per the docs:
[defaultContext](https://github.com/krakenjs/zoid/blob/main/docs/api/create.md#defaultcontext-string)
[opts.context](https://github.com/krakenjs/zoid/blob/main/docs/api/create.md#opts)
arguments to [zoid.create](https://github.com/krakenjs/zoid/blob/main/docs/api/create.md#create-new-component) are not passed down into framework's register method. All the frameworks use hard const

[2022-02-24 19:25] chrischan226 opened #396 "findDOMNode is deprecated in StrictMode"
Hi there, I'm getting a warning for rendering a zoid component in React when using StrictMode. I was wondering if there was a way to remove this error, it seems to be coming from the zoid library's usage of findDomNode.

[2022-02-24 19:36] wsbrunson commented on #396
Link to the line: https://github.com/krakenjs/zoid/blob/eb8677a3c41f8ad52158ad946573d0df9a47538d/src/drivers/react.js#L43

thanks for the heads up @chrischan226, we will look into this

[2022-03-01 17:04] Daneng66 opened #398 "Programmatically close the spinner"
Is there a way to programmatically hide the spinner as my app after it is rendered needs to fetch some additional data and would be good if I can keep the spinner visible until after the initial data has been fetched.

[2022-03-03 21:23] wintrdotcom opened #399 "Ability to restrict some of the parentProps"
Hey there, thanks for this awesome tool, do you know if there is anyway to disable some parentProps such as "onRender", or event better, extend them to, for instance, add some data in the onRender callback.

Thanks.

[2022-04-29 17:47] ciceropablo commented on #324
Hello, guys! Any update about it?
This issue is very old and we don't have the types yet.
Can anyone help? @mstuart @pramodrhegde @mike-robertson-fast

[2022-05-02 14:30] gregjopa opened #402 "Feature request - Add events for prerender phases"
Zoid has the following `event` feature for tracking when rendering completes: https://github.com/krakenjs/zoid/blob/main/docs/api/create.md#listening-to-zoid-events. These `RENDER` and `RENDERED` events work great for measuring rendering performance. However, we are missing events for knowing when the prerender phase is complete with `prerenderTemplate`.

To solve this problem let's add the follow

[2022-05-02 18:58] bluepnume commented on #402
Totally possible, but remember prerender is completely synchronous, so you can just do:

[code]

That said -- this won't be *that* useful since:

1. Prerender start will be virtually the same time as the 'render' event since prerender and render are kicked off at the same time
2. Prerender end will be virtually the same time as prerender start, since it's a synchronous function (always)

[2022-05-02 19:12] gregjopa commented on #402
What about the time it takes to insert the prerenderFrame into the DOM? Here's the code I'm referring to.
https://github.com/krakenjs/zoid/blob/c10ac415ce6a2174c7ef08f2451da95bb9795888/src/parent/parent.js#L817. My thought is we need `EVENT.PRERENDERED` to include that cost.

[2022-05-02 19:15] bluepnume commented on #402
Aaah that's fair. Yeah it's still synchronous; but definitely wouldn't hurt to measure. No objections!

[2022-05-02 19:24] gregjopa commented on #402
Sweet thanks for the review @bluepnume!

[2022-05-10 15:42] pavei opened #404 "exemple updateProps not working"
I'm trying to updateProps, but it's not working, I also tried on the example below, and it's not working too.

http://krakenjs.com/zoid/demo/advanced/props/index.htm

[2022-06-08 03:02] tfmertz opened #405 ""Process is not defined" error in create-react-app project"
I'm not sure if this is an issue with zoid or create-react-app, but if I remove zoid everything works fine. If this is a CRA issue I can repost there.

**Repro**
1. Install create-react-app `npm i create-react-app`
2. Create a new react app `npx create-react-app zoid-test`
3. Install zoid `cd zoid-test` then `npm i zoid`
4. Include zoid in the project's App.js `import zoid from 'zoid`
5. Run the a

[2022-06-08 17:10] hrjjml opened #406 "window.xprops is undefined"
Inside the iframe, window.xprops is undefined after changing the iframe source by setting the window.location.href to something else (within the same domain).
Is that behavior normal?

Something like this:
1. zoid component is loaded using https://localhost:44313/login as url
2. inside the login page, I changed the window.location.href to https://localhost:44313/forgot-password
3. inside forgot-pa

[2022-06-14 19:07] tfmertz commented on #405
I think I got this working, it took me a long time, but it turns out to use zoid with React (or possibly other JS Frameworks) you need to import it a very specific way:

[code]

this I believe sets it up to work with webpack, what CRA uses behind the scenes.

[2022-06-14 19:07] #405 closed

[2022-06-18 22:43] jmichaelterenin opened #407 "Error importing zoid"
I'm getting:
[code]
on the following line in app.js:
import zoid from 'zoid';

I've spent numerous hours on this and googled multiple stack overflow pages discussing what to do, but nothing has helped.
Does anyone have any insight into this, so I don't have to include the script declaration to the cdnjs.cloudflare.com url?

The "best" instructions I found for resolving this were a combination of t

[2022-06-19 16:38] #407 closed

[2022-07-11 19:28] mrudult opened #409 "prop is read-only after doing updateProp"
I've defined props something like this:

[code]

Then, in the parent, I do:

[code]

I get an error in the console as:

Exception trace leads to [this](https://github.com/krakenjs/zoid/blob/3974c52a880e8b7a72201c9ad205b576611e7c65/dist/zoid.js#L1108) line.

I'm using zoid version `9.0.82`(and also tried with the latest `9.0.87`)

[2022-07-22 10:17] nikbelikov commented on #347
Try this one:

**component.js**
[code]

**host.js**
[code]

[2022-07-27 23:34] Alan-Zhao-908 opened #411 "React zoid component not working?"
Not sure but is zoid working in react? I've tried downloading the zoid repo and testing the demo branches. It seems like the parent isn't able to pull in the child component in any of the demos from the zoid repo, or the code sandboxes (https://codesandbox.io/examples/package/zoid).

For example in the deployed zoid repo the react component doesn't seem to be pulling in the child component. http:/

[2022-08-11 16:29] adlondon commented on #253
@jasan-s I'm running into the same issue... did you ever find a solution?

[2022-08-18 14:48] XEngine opened #412 "Change URL after compile"
After making a SDK library using zoid, I setted it up to my webpage, but the URL needs to be change from page to page. Can I change the URL before render the component's I've built with zoid ?

like can I do this?

SDK.button({
   url: 'somewherelse.com/service'
   etc..
}).render('#el')

[2022-09-14 04:16] jmichaelterenin commented on #402
@gregjopa Are we able to pull this version (with PRERENDER/ED)? it's not available on the Cloudflare CDN and I can't get npm to install v10.1.0, as either a version or tag. Please help if you have a moment

[2022-09-19 20:05] nikbelikov commented on #320
any updates here?

[2022-09-22 18:58] JuanGongora commented on #387
Unfortunately it looks like this issue isn't fixed yet. I tried applying the following to the zoid object but that doesn't resolve it either: https://github.com/krakenjs/zoid/issues/264#issuecomment-708888336

Instead I ended up just adding to the parent page a snippet to search for the loaded container and change its opacity to 1:

[code]

[2022-09-30 14:29] nikbelikov opened #413 "Get params from child to parent"
Hi!

What is the right way to pass get parameters from child zoid component into a parent?

Should I use props with functions for that? Could you please give me a short example of this case?

[2022-10-27 11:52] ady642 commented on #366
I had the same problem, and I put a `setTimeout` before making the DOM changes

[2022-10-30 04:28] bitcras commented on #413
#queryparams #getparams#url

[2022-11-24 17:04] satyamTheSong commented on #162
Hi can you please share an example, I don't understand what do you mean by re-rendering the child component? do we not need to call updateProps with react?

[2022-11-24 17:07] satyamTheSong commented on #162
Hi, it might be a long shot, but did you get this sorted? is there any way in react from where we can call updateProps?